// Todo e qualquer estilo que poderá ser usado por vários elementos
.container
	center(1170px)
	padding rem(0 15px)
	
.max-page
	max-width 1920px
	margin 0 auto
	
.parallax
	background-size cover
	background-repeat repeat
	background-position center
	+above(970px)
		background-attachment fixed
		background-position 50% 50%
	
.middle
	display table
	width 100%
	table-layout fixed
	& > .middle
		display table-cell
		vertical-align middle
		width 100%
		
for number in 0px 5px 10px 15px 20px 25px 30px 35px 40px 45px 50px 70px 100px
	.padding-{number}
		padding-top number !important
		padding-bottom number !important
	.padding-top-{number}
		padding-top number !important
	.padding-bottom-{number}
		padding-bottom number !important
		
.color-white
	color $white !important
	
.color-black
	color $black !important
	
.color-blue
	color #3372a4 !important
	
.color-red
	color #c44a4d !important
		
.uppercase
	text-transform uppercase
	
.relative
	position relative
	overflow hidden
	
.animated-fast
	animation-duration 1s !important
.animated-medium
	animation-duration 2.5s !important
.animated-slow
	animation-duration 5s !important