// Todo e qualquer estilo para elementos globais
// box-sizing-reset()

body
html
	max-width 1920px
	margin 0 auto
	padding 0
	font-size 100%
	font-family 'Open Sans', sans-serif
	line-height 1.3
	
img
	max-width 100%
	
p
	padding 0
	margin 0 0 rem(15px)
	font-size rem(14px)
	&:last-child
		margin 0
	+above(768px)
		font-size inherit
		
strong
	font-weight 700
	
main
	overflow hidden
	zoom 1