// Todo e qualquer estilo personalizado	
.response
	display none
	margin-bottom rem(10px)
	
	.message
		display none
		
	.success
		color #0cff0c
		
	.error
		color red
		
	.waiting
		color yellow

label.error
	color red
	font-size rem(12px)
	
.drawing
	visibility hidden
	fill-opacity 0
	stroke-width 1px
	stroke-dasharray 2513
.drawing-animated
	visibility visible
	animation 15s drawing
		
@keyframes drawing
	0%
		stroke-dashoffset 2513
		fill-opacity 0
	100%
		stroke-dashoffset 0
		fill-opacity 1