<template lang="html">

	<form v-on:submit.prevent="sendForm" class="form-horizontal" method="POST">
		<h2 class="ls-title" v-if="action == 'update'">Atualizar Usuário</h2>
		<h2 class="ls-title" v-else>Criar novo Usuário</h2>
	  <div v-bind:class="{'ls-label': true, 'ls-error': errors.name}">
	      <label for="name"><b class="ls-label-text">Seu nome</b></label>
	      <input id="name" type="text" class="form-control" v-model="user.name" required autofocus>
	      <small class="ls-help-message" v-for="error in errors.name">{{ error }}</small>
	  </div>

	  <div v-bind:class="{'ls-label': true, 'ls-error': errors.email}">
	      <label for="email"><b class="ls-label-text">Seu e-mail</b></label>
	      <input id="email" type="email" class="form-control" v-model="user.email" required>
	      <small class="ls-help-message" v-for="error in errors.email">{{ error }}</small>
	  </div>

	  <div v-bind:class="{'ls-label': true, 'ls-error': errors.password}">
	      <label for="password"><b class="ls-label-text">Sua senha</b></label>
	      <input id="password" type="password" class="form-control" v-model="user.password" required>
	      <small class="ls-help-message" v-for="error in errors.password">{{ error }}</small>
	  </div>

	  <div class="ls-label">
	      <label for="password-confirm"><b class="ls-label-text">Confirmar senha</b></label>
	      <input id="password-confirm" type="password" class="form-control" v-model="user.password_confirmation" required>
	  </div>

	  <div class="ls-label">
	    <button type="submit" class="ls-btn ls-btn-primary">Salvar</button>
	    <button type="button" class="ls-btn"
				v-on:click.prevent="$emit('toggle-form')"
				>Cancelar</button>
	  </div>
	</form>
</template>

<script>

	export default {

		props: ['user', 'errors', 'action'],

		methods: {
			sendForm() {
				if (this.action == 'update') this.$emit('patch', this.user);
				else this.$emit('store');
			}
		}

	}

</script>