<template lang="html">

	<div v-if="formView">
		<UserForm v-on:store="store"
		v-on:toggle-form="toggleForm"
		v-on:patch="patch"
		:user="user"
		:errors="errors"
		:action="action"></UserForm>
	</div>
	<div v-else>
		<table class="ls-table ls-table-striped ls-bg-header">
			<thead>
				<tr>
					<th>Nome</th>
					<th>E-mail</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<User v-for="user in users"
						:user="user"
						:key="user.id" 
						v-on:destroy="destroy"
						v-on:toggle-edit-form="toggleEditForm"></User>
			</tbody>
			<tfoot>
				<tr>
					<td>{{users.length}}</td>
					<td colspan="2" class="ls-txt-right">
						<button class="ls-btn-primary ls-ico-user-add"
							v-on:click="toggleForm"
							>Cadastrar novo usuário</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</template>

<script>

	import axios from 'axios';
	import UserForm from './UserForm.vue';
	import User from './User.vue';

	export default {

		data() {

			return {
				users: [],
				errors: [],
				user: {
					name: '',
					email: '',
					password: '',
					password_confirmation: ''
				},
				action: false,
				formView: false
			}

		},

		components: { User, UserForm },

		created() {
			this.index();
		},

		methods: {

			toggleForm() {
				this.user = {
					name: '',
					email: '',
					password: '',
					password_confirmation: ''
				};
				this.action = false;
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			toggleEditForm(user, newUser) {
				this.user = user;
				this.action = 'update';
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			index() {
				axios.get('http://projeto.agroicone.com.br/webservice/public/api/users').then(response => {
					this.users = response.data.users;
				});
			},

			store() {
				axios.post('http://projeto.agroicone.com.br/webservice/public/api/users/', this.user)
				.then(response => {
					this.user = {
						name: '',
						email: '',
						password: '',
						password_confirmation: ''
					}
					if (this.errors) {
						this.errors = [];
					}
					this.toggleForm();
					this.users.push(response.data.user);
					this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
				})
				.catch(error => {
					this.errors = error.response.data;
				});
			},

			destroy(user){
				axios.delete('http://projeto.agroicone.com.br/webservice/public/api/users/' + user.id).then(response => {
					let index = this.users.indexOf(user);
					this.users.splice(index, 1);
					this.$notify({
				        message: response.data.message,
				        type: 'danger'
				    });
				});
			},

			patch(newUser) {
				axios.patch('http://projeto.agroicone.com.br/webservice/public/api/users/'+this.user.id, newUser)
	        	.then(response => {
	        		if (this.errors) {
	            	this.errors = [];
	            }
		            let index = this.users.indexOf(this.user);
		            this.users[index] = newUser;
		            this.user = {
						name: '',
						email: '',
						password: '',
						password_confirmation: ''
					}
					this.toggleForm();
		            this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
				})
				.catch(error => {
					this.errors = error.response.data;
				});
			}

		}

	}

</script>