<template lang="html">
	<tr>
		<td>{{ user.name }}</td>
		<td>{{ user.email }}</td>
		<td class="ls-txt-right">

			<button class="ls-btn ls-ico-edit-admin"
				v-on:click="$emit('toggle-edit-form', user, newUser)">
				Editar</button>

			<button v-bind:class="{'ls-btn-danger ls-ico-remove' : true, 'ls-disabled' : user.id == 1}"
				v-bind:disabled="user.id == 1"
				v-on:click="$emit('destroy', user)">
				Remover</button>

		</td>
	</tr>
</template>

<script>

	export default {

		props: ['user'],

		data() {
			return {
				newUser: []
			}
		},

		mounted() {
			this.newUser = this.user;
		}

	}

</script>