<template lang="html">
	<section class="section" data-anchor="baixar-projeto">
		<div class="middle">
			<div class="text-center middle-inner">
			    <div class="container container--small">
			        <div class="row text-center center-xs">
			            <div class="col-xs-12 padding-bottom-20">
			                <p style="font-size: 20px;"><strong><vc-notas :secao="'descricao-gerar-pdf'" :formato="'text'"></strong></p>
			            </div>
			            <div class="col-xs-12 col-sm-6 margin-bottom-15">
			                <p>Download:</p>
			                <form v-on:submit.prevent="download">
				                <div class="form-item">
				                    <input type="text" v-model="nome" placeholder="Nome" required>
				                </div>
				                <div class="form-item">
				                    <input type="email" v-model="email" placeholder="E-mail" required>
				                </div>
				                <button type="submit" class="button-white button-white--small button-white--input-size">Gerar arquivo</button>
			                </form>
			            </div>
			            <div class="col-xs-12 col-sm-6 ">
			                <p>Receber via e-mail:</p>
			                <form v-on:submit.prevent="enviarPorEmail">
								<div class="form-item">
									<input type="text" v-model="nome" placeholder="Nome">
								</div>
								<div class="form-item">
									<input type="email" v-model="email" placeholder="E-mail">
								</div>
								<div class="form-item">
									<input type="tel" v-model="telefone" placeholder="Telefone">
								</div>
								<button type="submit" class="button-white button-white--small button-white--input-size">Enviar</button>
			                </form>
			            </div>
			            <div class="col-xs-12 padding-top-50">
			                <button @click="novaSimulacao" class="button-white">Fazer uma nova simulação</button>
			            </div>
			        </div>
			    </div>
			</div>
			</div>
	</section>
</template>

<script>

	import jsPDF from 'jspdf'

	import Notas from '../notas/Notas.vue';

	import ServiceMailProjeto from '../../services/mail-projeto';

	export default {
		components: {
			'vc-notas': Notas
		},

		data() {
			return {
				projectPDFDOM: '',
				projeto: '',
				nome: '',
				email: '',
				telefone: ''				
			}
		},

		computed: {
			showResultados: {
			  get() {
			    return this.$store.state.showResultados
			  },
			  set (payload) {
			    this.$store.dispatch('updateShowResultados', payload)
			  }
			},
			generatePDF: {
				get() {
					return this.$store.state.generatePDF;
				},
				set(payload) {
					this.$store.dispatch('updateGeneratePDF', payload)
				}
			},
			fullpageOptions: {
				get() {
					return this.$store.state.fullpageOptions;
				},
				set() {}
			},
			graficoCapitalProprio: {
                get() {
                    return this.$store.state.graficoCapitalProprio;            
                }
            },
            grafico20AnosSimulacao: {
                get() {
                    return this.$store.state.grafico20AnosSimulacao;            
                }
            },
            graficoFluxoCapitalProprio: {
                get() {
                    return this.$store.state.graficoFluxoCapitalProprio;            
                }
            },
            graficoFluxoFinanciamento: {
                get() {
                    return this.$store.state.graficoFluxoFinanciamento;            
                }
            },
		},

		mounted() {
			this.projectPDFDOM = document.getElementById('project-pdf');
		},

		methods: {

			novaSimulacao() {
				let $sections = $("#fullpage .section");
				$sections.addClass('opacity');
				$.fn.fullpage.moveTo(1);
				var $this = this;
	            setTimeout(function(){
	                $this.showResultados = false;
	                $sections.removeClass('opacity');
	            }, 1500);
			},

			download() {
				this.$notify({
					message: 'Estamos trabalhando..aguarde!',
					type: 'warning',
					timeout: 10000
				});
				this.generatePDF = Math.random();
				this.enviarEmail();
			},

			enviarPorEmail() {
				var $this = this;
				this.$notify({
					message: 'Estamos trabalhando..aguarde!',
					type: 'warning',
					timeout: 10000
				});
				this.generatePDF = Math.random();
				setTimeout(function(){
					$this.criarPDF(false);
				}, 5000);
			},

			enviarEmail() {
				var dados = {
					nome: this.nome,
					email: this.email,
					telefone: this.telefone,
					projeto: this.projeto
				},
				$this = this;
				ServiceMailProjeto.send(dados)
				.then(response => {
					$this.$notify({
					message: response.data.sucesso,
						type: 'success',
						timeout: 2000
					});
					if ($this.projeto == '') {
						setTimeout(function(){
							$this.criarPDF();
						}, 3000);
					} else $this.projeto = '';
					$this.nome = '';
					$this.email = '';
					$this.telefone = '';
				})
				.catch(error => {
					$this.$notify({
					message: 'Não foi possível fazer a solicitação...tente novamente! ' + error,
						type: 'danger',
						timeout: 2000
					});
				});
			},
			criarPDF(isDonwload = true) {
				var $this = this,
					test = this.graficoCapitalProprio != '' && this.grafico20AnosSimulacao != '' && this.graficoCapitalProprio != '' && this.graficoFluxoFinanciamento != '' ? true : false;

				if (test) {
					// create image agroicone
                    var agroicone = new Image(),
                    	input = new Image(),
                    	agroiconeURL,
                    	inputURL;
                    agroicone.crossOrigin = 'anonymous';
                    agroicone.src = 'assets/img/agroicone-color.png';
                    agroicone.onload = function () {
                        // create canvas
                        var canvas = document.createElement('canvas');
                        var ctx = canvas.getContext('2d');
                        canvas.height = this.naturalHeight;
                        canvas.width = this.naturalWidth;
                        ctx.drawImage(this, 0, 0);
                        agroiconeURL = canvas.toDataURL('image/png', 1.0);
                    }
                    input.crossOrigin = 'anonymous';
                    input.src = 'assets/img/input-color.png';
                    input.onload = function () {
                        // create canvas
                        var canvas = document.createElement('canvas');
                        var ctx = canvas.getContext('2d');
                        canvas.height = this.naturalHeight;
                        canvas.width = this.naturalWidth;
                        ctx.drawImage(this, 0, 0);
                        inputURL = canvas.toDataURL('image/png', 1.0);
                    }

                    setTimeout(function() {
	                    var doc = new jsPDF("l", "mm", "a4");
	                    // header
						doc.addImage(agroiconeURL, 'PNG', 17, 15, 80, 16.05);
						doc.addImage(inputURL, 'PNG', 238, 15, 43.38, 16.05);
						// title
						doc.setFontSize(30);
						doc.setFontType("bold");
						doc.text(17, 50, "Resultado do Projeto de Regularização");
						// result 1
						doc.setFontSize(16);
						doc.setFontType("normal");
						doc.text(17, 65, "Rentabilidade Média Anual em 20 anos (R$/ha) R$ 40,73");
						// grafico capital próprio
						doc.setFontSize(20);
						doc.setFontType("bold");
						doc.text(17, 80, "Rentabilidade média anual por hectare da atividade após regularização\nusando Capital Próprio em 20 anos")
						doc.addImage($this.graficoCapitalProprio, 'PNG', 17, 95);
						// grafico capital próprio e financiamento
						doc.addPage();
						doc.addImage(agroiconeURL, 'PNG', 17, 15, 80, 16.05);
						doc.addImage(inputURL, 'PNG', 238, 15, 43.38, 16.05);
						doc.text(17, 50, 'Rentabilidade média por hectare da atividade após regularização\nusando Capital Próprio e Financiamento em 20 anos');
						doc.addImage($this.grafico20AnosSimulacao, 'PNG', 17, 70);
						// grafico fluxo de capital proprio
						doc.addPage();
						doc.addImage(agroiconeURL, 'PNG', 17, 15, 80, 16.05);
						doc.addImage(inputURL, 'PNG', 238, 15, 43.38, 16.05);
						doc.text(17, 50, 'Fluxo de caixa das atividades em 20 anos (mil reais)\ncom Capital Próprio');
						doc.addImage($this.graficoFluxoCapitalProprio, 'PNG', 17, 70);
						// grafico fluxo financiamento
						doc.addPage();
						doc.addImage(agroiconeURL, 'PNG', 17, 15, 80, 16.05);
						doc.addImage(inputURL, 'PNG', 238, 15, 43.38, 16.05);
						doc.text(17, 50, 'Fluxo de caixa das atividades em 20 anos (mil reais)\ncom Linha de Financiamento');
						doc.addImage($this.graficoFluxoFinanciamento, 'PNG', 17, 70);
						// efetuar o download ou enviar por e-mail
						if (isDonwload) doc.save("projeto-regularizacao.pdf");
						else {
							$this.projeto = doc.output('datauristring');
							$this.enviarEmail();
						}
					}, 1500);
				}
				
			}
		}
	}

</script>