<template lang="html">
	<form v-on:submit.prevent="sendForm" class="form-horizontal" method="POST">
		<h2 class="ls-title" v-if="action == 'update'">Atualizar Custo de Restauro</h2>
		<h2 class="ls-title" v-else>Criar novo Custo de Restauro</h2>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.nome}">
			<label for="nome"><b class="ls-label-text">Nome</b></label>
			<input id="nome" type="text" class="form-control" v-model="custoRestauro.nome" required autofocus>
			<small class="ls-help-message" v-for="error in errors.nome">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.ano_1}">
			<label for="ano_1"><b class="ls-label-text">Ano 1</b></label>
			<input id="ano_1" type="text" class="form-control" v-model="custoRestauro.ano_1" required autofocus>
			<small class="ls-help-message" v-for="error in errors.ano_1">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.ano_2}">
			<label for="ano_2"><b class="ls-label-text">Ano 2</b></label>
			<input id="ano_2" type="text" class="form-control" v-model="custoRestauro.ano_2" required autofocus>
			<small class="ls-help-message" v-for="error in errors.ano_2">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.ano_3}">
			<label for="ano_3"><b class="ls-label-text">Ano 3</b></label>
			<input id="ano_3" type="text" class="form-control" v-model="custoRestauro.ano_3" required autofocus>
			<small class="ls-help-message" v-for="error in errors.ano_3">{{ error }}</small>
		</div>
		<div class="ls-label">
		    <button type="submit" class="ls-btn ls-btn-primary">Salvar</button>
		    <button type="button" class="ls-btn"
				v-on:click.prevent="$emit('toggle-form')"
				>Cancelar</button>
		</div>
	</form>
</template>

<script>

	export default {

		props: ['estado', 'custoRestauro', 'errors', 'action'],

		methods: {
			sendForm() {
				this.custoRestauro.estado_id = this.estado.id;
				if (this.action == 'update') this.$emit('patch', this.custoRestauro);
				else this.$emit('store');
			}
		}

	}

</script>