<template lang="html">
	<div v-if="formView">
		<CustoRestauroForm v-on:store="store"
		v-on:toggle-form="toggleForm"
		v-on:patch="patch"
		v-bind:custoRestauro="custoRestauro"
		v-bind:estado="estado"
		v-bind:errors="errors"
		v-bind:action="action"></CustoRestauroForm>
	</div>
	<div v-else>
		<div class="ls-box-filter">
		  <form v-on:submit.prevent="orderByEstados" class="ls-form ls-form-inline">
		    <label class="ls-label col-xs-12 col-md-6 col-sm-8">
		      <b class="ls-label-text">Estados</b>
		      <div class="ls-custom-select">
		        <select v-model="estado.id" class="ls-select">
		          <option v-for="e in estados" v-bind:value="e.id">{{ e.nome }}</option>
		        </select>
		      </div>
		    </label>
		    <div class="ls-actions-btn">
		      <button type="submit" class="ls-btn-dark ls-ico-eye">Filtrar</button>
		    </div>
		  </form>
		</div>
		
		<table class="ls-table ls-table-striped ls-bg-header">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Ano 1</th>
					<th>Ano 2</th>
					<th>Ano 3</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<CustoRestauro v-for="custoRestauro in custosRestaurosOrdered"
						v-bind:custoRestauro="custoRestauro"
						v-bind:key="custoRestauro.id" 
						v-on:destroy="destroy"
						v-on:toggle-edit-form="toggleEditForm"></CustoRestauro>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5" class="ls-txt-center">
						<button class="ls-btn-primary ls-ico-user-add"
							v-on:click="toggleForm"
							>Cadastrar novo Custo de Restauro</button>
					</td>
				</tr>
				
			</tfoot>
		</table>
	</div>
</template>

<script>

	import axios from 'axios';
	import CustoRestauroForm from './CustoRestauroForm.vue';
	import CustoRestauro from './CustoRestauro.vue';

	export default {

		data() {

			return {
				custosRestauros: [],
				custosRestaurosOrdered: [],
				errors: [],
				custoRestauro: {
					nome: ''
				},
				action: false,
				formView: false,
				estados: [],
				estado: {
					id: 1,
					nome: ''
				}
			}

		},

		components: { CustoRestauro, CustoRestauroForm },

		created() {
			this.indexOfEstados();
			this.index();
		},

		methods: {

			toggleForm() {
				this.custoRestauro = {
					nome: '',
					ano_1: '',
					ano_2: '',
					ano_3: ''
				};
				this.action = false;
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			toggleEditForm(custoRestauro, newCustoRestauro) {
				this.custoRestauro = custoRestauro;
				this.action = 'update';
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			index() {
				axios.get('http://projeto.agroicone.com.br/webservice/public/api/custos-restauros').then(response => {
					this.custosRestauros = response.data.custosRestauros;
					this.orderByEstados();
				});
			},

			indexOfEstados() {
				axios.get('http://projeto.agroicone.com.br/webservice/public/api/estados').then(response => {
					this.estados = response.data.estados;
				});
			},

			orderByEstados() {
				this.custosRestaurosOrdered = this.custosRestauros.filter((el, index, array) => {
					return array[index].estado_id == this.estado.id;
				});
				var estado = this.estados.find((el, index, array) => {
					return array[index].id == this.estado.id;
				});
				this.estado.nome = estado.nome;
				this.$notify({
			        message: estado.nome + ' com ' + this.custosRestaurosOrdered.length + ' Custos de Restauro.'
			    });
			},

			store() {
		        axios.post('http://projeto.agroicone.com.br/webservice/public/api/custos-restauros/', this.custoRestauro)
		        	.then(response => {
		            this.custoRestauro = {
						nome: '',
						ano_1: '',
						ano_2: '',
						ano_3: ''
					}
		            if (this.errors) {
		              this.errors = [];
		            }
		            this.toggleForm();
		            this.custosRestauros.push(response.data.custoRestauro);
		            this.orderByEstados();
		            this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
		            
		        })
		        .catch(error => {
					this.errors = error.response.data;
				});
			},

			destroy(custoRestauro){
				axios.delete('http://projeto.agroicone.com.br/webservice/public/api/custos-restauros/' + custoRestauro.id).then(response => {
					let index = this.custosRestauros.indexOf(custoRestauro);
					this.custosRestauros.splice(index, 1);
					this.orderByEstados();
					this.$notify({
				        message: response.data.message,
				        type: 'danger'
				    });
				});
			},

			patch(newCustoRestauro) {
				axios.patch('http://projeto.agroicone.com.br/webservice/public/api/custos-restauros/'+this.custoRestauro.id, newCustoRestauro)
				.then(response => {
        			if (this.errors) {
              			this.errors = [];
            		}
		            let index = this.custosRestauros.indexOf(this.custoRestauro);
		            this.custosRestauros[index] = newCustoRestauro;
		            this.custoRestauro = {
						nome: '',
						ano_1: '',
						ano_2: '',
						ano_3: ''
					}
					this.toggleForm();
					this.orderByEstados();
            		this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
          		})
          		.catch(error => {
					this.errors = error.response.data;
				});
			}

		}

	}

</script>