<template lang="html">
	<tr>
		<td><b>{{ custoRestauro.nome }}</b></td>
		<td>{{ custoRestauro.ano_1 }}</td>
		<td>{{ custoRestauro.ano_2 }}</td>
		<td>{{ custoRestauro.ano_3 }}</td>
		<td>

			<button class="ls-btn ls-ico-edit-admin"
				v-on:click="$emit('toggle-edit-form', custoRestauro, newCustoRestauro)">
				<span class="hidden-xs hidden-sm">Editar</span></button>

			<button v-bind:class="{'ls-btn-danger ls-ico-remove' : true}"
				v-on:click="$emit('destroy', custoRestauro)">
				<span class="hidden-xs hidden-sm">Remover</span></button>

		</td>
	</tr>
</template>

<script>

	export default {

		props: ['custoRestauro'],

		data() {
			return {
				newCustoRestauro: []
			}
		},

		mounted() {
			this.newCustoRestauro = this.custoRestauro;
		}

	}

</script>