<template lang="html">

	<div v-if="formView">
		<InfoLinhaFinanciamentoForm v-on:store="store"
		v-on:toggle-form="toggleForm"
		v-on:patch="patch"
		:infoLinhaFinanciamento="infoLinhaFinanciamento"
		:errors="errors"
		:action="action"></InfoLinhaFinanciamentoForm>
	</div>
	<div v-else>
		<table class="ls-table ls-table-striped ls-bg-header">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Objetivos</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<InfoLinhaFinanciamento v-for="infoLinhaFinanciamento in infosLinhasFinanciamentos"
						:infoLinhaFinanciamento="infoLinhaFinanciamento"
						:key="infoLinhaFinanciamento.id" 
						v-on:destroy="destroy"
						v-on:toggle-edit-form="toggleEditForm"></InfoLinhaFinanciamento>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3" class="ls-txt-center">
						<button class="ls-btn-primary ls-ico-user-add"
							v-on:click="toggleForm"
							>Cadastrar nova Informação de Linha de Financiamento</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</template>

<script>

	import axios from 'axios';
	import InfoLinhaFinanciamentoForm from './InfoLinhaFinanciamentoForm.vue';
	import InfoLinhaFinanciamento from './InfoLinhaFinanciamento.vue';

	export default {

		data() {

			return {
				infosLinhasFinanciamentos: [],
				errors: [],
				infoLinhaFinanciamento: {
					nome: ''
				},
				action: false,
				formView: false
			}

		},

		components: { InfoLinhaFinanciamento, InfoLinhaFinanciamentoForm },

		created() {
			this.index();
		},

		methods: {

			toggleForm() {
				this.infoLinhaFinanciamento = {
					nome: '',
					objetivos: '',
					taxa_juros_final_tomador: '',
					prazos_carencias: '',
					beneficiarios: ''
				};
				this.action = false;
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			toggleEditForm(infoLinhaFinanciamento, newInfoLinhaFinanciamento) {
				this.infoLinhaFinanciamento = infoLinhaFinanciamento;
				this.action = 'update';
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			index() {
				axios.get('http://projeto.agroicone.com.br/webservice/public/api/infos-linhas-financiamentos/').then(response => {
					this.infosLinhasFinanciamentos = response.data.infosLinhasFinanciamentos;
				});
			},

			store() {

		        axios.post('http://projeto.agroicone.com.br/webservice/public/api/infos-linhas-financiamentos/', this.infoLinhaFinanciamento)
		        	.then(response => {
		            this.infoLinhaFinanciamento = {
						nome: '',
						objetivos: '',
						taxa_juros_final_tomador: '',
						prazos_carencias: '',
						beneficiarios: ''
					}
		            if (this.errors) {
		              this.errors = [];
		            }
		            this.toggleForm();
		            this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
		            this.infosLinhasFinanciamentos.push(response.data.infoLinhaFinanciamento);
		        })
		        .catch(error => {
					this.errors = error.response.data;
				});
			},

			destroy(infoLinhaFinanciamento){
				axios.delete('http://projeto.agroicone.com.br/webservice/public/api/infos-linhas-financiamentos/' + infoLinhaFinanciamento.id).then(response => {
					let index = this.infosLinhasFinanciamentos.indexOf(infoLinhaFinanciamento);
					this.infosLinhasFinanciamentos.splice(index, 1);
					this.$notify({
				        message: response.data.message,
				        type: 'danger'
				    });
				});
			},

			patch(newInfoLinhaFinanciamento) {
				axios.patch('http://projeto.agroicone.com.br/webservice/public/api/infos-linhas-financiamentos/'+this.infoLinhaFinanciamento.id, newInfoLinhaFinanciamento)
				.then(response => {
        			if (this.errors) {
              			this.errors = [];
            		}
		            let index = this.infosLinhasFinanciamentos.indexOf(this.infoLinhaFinanciamento);
		            this.infosLinhasFinanciamentos[index] = newInfoLinhaFinanciamento;
		            this.infoLinhaFinanciamento = {
						nome: '',
						objetivos: '',
						taxa_juros_final_tomador: '',
						prazos_carencias: '',
						beneficiarios: ''
					}
					this.toggleForm();
            		this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
          		})
          		.catch(error => {
					this.errors = error.response.data;
				});
			}

		}

	}

</script>