<template lang="html">
	<tr>
		<td>{{ infoLinhaFinanciamento.nome }}</td>
		<td>{{ infoLinhaFinanciamento.objetivos }}</td>
		<td class="ls-txt-right">
			<button class="ls-btn ls-ico-edit-admin"
				v-on:click="$emit('toggle-edit-form', infoLinhaFinanciamento, newinfoLinhaFinanciamento)">
				Editar</button>
			<button v-bind:class="{'ls-btn-danger ls-ico-remove' : true}"
				v-on:click="$emit('destroy', infoLinhaFinanciamento)">
				Remover</button>
		</td>
	</tr>
</template>

<script>

	export default {

		props: ['infoLinhaFinanciamento'],

		data() {
			return {
				newinfoLinhaFinanciamento: []
			}
		},

		mounted() {
			this.newinfoLinhaFinanciamento = this.infoLinhaFinanciamento;
		}

	}

</script>