<template lang="html">

	<form v-on:submit.prevent="sendForm" class="form-horizontal" method="POST">
		<h2 class="ls-title" v-if="action == 'update'">Atualizar Informação da Linha de Financiamento</h2>
		<h2 class="ls-title" v-else>Criar nova Informação da Linha de Financiamento</h2>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.nome}">
			<label for="nome"><b class="ls-label-text">Nome</b></label>
			<input id="nome" type="text" class="form-control" v-model="infoLinhaFinanciamento.nome" required autofocus>
			<small class="ls-help-message" v-for="error in errors.nome">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.objetivos}">
			<label for="objetivos"><b class="ls-label-text">Objetivos</b></label>
			<input id="objetivos" type="text" class="form-control" v-model="infoLinhaFinanciamento.objetivos" required autofocus>
			<small class="ls-help-message" v-for="error in errors.objetivos">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.taxa_juros_final_tomador}">
			<label for="taxa_juros_final_tomador"><b class="ls-label-text">Taxa de Juros Final ao Tomador</b></label>
			<input id="taxa_juros_final_tomador" type="text" class="form-control" v-model="infoLinhaFinanciamento.taxa_juros_final_tomador" required autofocus>
			<small class="ls-help-message" v-for="error in errors.taxa_juros_final_tomador">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.prazos_carencias}">
			<label for="prazos_carencias"><b class="ls-label-text">Prazos e Carências</b></label>
			<input id="prazos_carencias" type="text" class="form-control" v-model="infoLinhaFinanciamento.prazos_carencias" required autofocus>
			<small class="ls-help-message" v-for="error in errors.prazos_carencias">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.beneficiarios}">
			<label for="beneficiarios"><b class="ls-label-text">Beneficiários</b></label>
			<input id="beneficiarios" type="text" class="form-control" v-model="infoLinhaFinanciamento.beneficiarios" required autofocus>
			<small class="ls-help-message" v-for="error in errors.beneficiarios">{{ error }}</small>
		</div>
		<div class="ls-label">
			<button type="submit" class="ls-btn ls-btn-primary">Salvar</button>
			<button type="button" class="ls-btn"
				v-on:click.prevent="$emit('toggle-form')"
				>Cancelar</button>
		</div>
	</form>
</template>

<script>

	export default {

		props: ['infoLinhaFinanciamento', 'errors', 'action'],

		methods: {
			sendForm() {
				if (this.action == 'update') this.$emit('patch', this.infoLinhaFinanciamento);
				else this.$emit('store');
			}
		}

	}

</script>