<template lang="html">
	<section class="section" data-anchor="regularizacao-20-anos">
		<div class="container">
			<div class="row">
				<div class="section-header col-xs-12">
                    <p class="section-title text-uppercase"><vc-notas :secao="'titulo-output-4'" :formato="'text'"></vc-notas> <vc-notas :secao="'descricao-output-4'"></vc-notas></p>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <div class="high-container">
                    	<highcharts class="highcharts-wrapper" :options="options" ref="highcharts"></highcharts>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
					<div class="simulador">
						<div class="row middle-xs padding-top-40 padding-bottom-15">
							<div class="col-xs-12 margin-bottom-5">
                                <div class="form-item nomargin">
					                <select v-model="app" @change="changeSeriesSimulacao">
					                    <option
					                    v-for="restauro in restauros"
					                    v-if="restauro.slug != 'compensacao'"
					                    :value="restauro.slug"
					                    :selected="restauro.slug == regularizacao_barata.APP.slug"
					                    >
					                    	{{ restauro.nome }}
					                    </option>
					                </select>
					                <span class="pointer"></span>
					                <vc-notas :secao="'app'"></vc-notas>
					            </div>
							</div>
							<div class="col-xs-12 margin-bottom-5">
					            <div class="form-item nomargin">
					            	<select v-model="reserva_legal" @change="changeSeriesSimulacao">
					                    <option
					                    v-for="restauro in restauros"
					                    :value="restauro.slug"
					                    :selected="restauro.slug == regularizacao_barata.RL.slug"
					                    >
					                    	{{ restauro.nome }}
					                    </option>
					                </select>
					                <span class="pointer"></span>
					                <vc-notas :secao="'rl'"></vc-notas>
					            </div>
					        </div>
					        <div class="col-xs-12 margin-bottom-5">
					            <div class="form-item nomargin">
					                <select v-model="linha_financiamento" @change="changeSeriesSimulacao">
					                    <option
					                    v-for="linha in linhas_financiamento"
					                    :value="linha.slug"
					                    >
					                    	{{ linha.nome }}
					                    </option>
					                </select>
					                <span class="pointer"></span>
					                <vc-notas :secao="'linhas_financiamento'"></vc-notas>
					            </div>
					        </div>
					        <!-- <div class="col-xs">
					            <button @click="regularizacaoBarata" class="button-white button-white--small">Calcular menor custo</button>
					        </div> -->
						</div>
						<vc-notas :secao="'descricao-output-4-b'" :formato="'text'"></vc-notas>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>

	import Notas from '../notas/Notas.vue';

	export default {
		components: {
			'vc-notas': Notas
		},
        /**
         * Retorna dados computados
         * @type {Object}
         */
        computed: {
            app: {
                get() {
                    return this.$store.state.app
                },
                set (payload) {
                    this.$store.dispatch('updateApp', payload)
                }
            },
            reserva_legal: {
                get() {
                    return this.$store.state.reserva_legal
                },
                set (payload) {
                    this.$store.dispatch('updateReservaLegal', payload)
                }
            },
            linha_financiamento: {
                get() {
                    return this.$store.state.linha_financiamento
                },
                set (payload) {
                    this.$store.dispatch('updateLinhaFinanciamento', payload)
                }
            },
            rentabilidade_atual: {
                get() {
                    return this.$store.state.resultados.rentabilidade_atual;            
                }
            },
            regularizacao_barata: {
                get() {
                    return this.$store.state.resultados.regularizacao_barata;            
                }
            },
            capital_proprio: {
                get() {
                    return this.$store.state.resultados.retorno_regularizacao_capital_proprio;            
                }
            },
            custo_capital: {
            	get() {
                    return this.$store.state.resultados.retorno_regularizacao_custo_capital;            
                }
            },
            financiamento: {
            	get() {
                    return this.$store.state.resultados.retorno_regularizacao_financiamento;            
                }
            },
            sem_regularizacao: {
            	get() {
                    return this.$store.state.resultados.retorno_sem_regularizacao;            
                }
            },
            restauros: {
                get() {
                    return this.$store.state.resultados.restauros;            
                }
            },
            linhas_financiamento: {
            	get() {
                    return this.$store.state.resultados.linhas_financiamento;            
                }
            },
            generatePDF: {
                get() {
                    return this.$store.state.generatePDF;
                }
            },
            highchartsThemeExport: {
                get() {
                    return this.$store.state.highchartsThemeExport;
                }
            },
            grafico20AnosSimulacao: {
                get() {
                    return this.$store.state.grafico20AnosSimulacao;            
                },
                set(payload) {
                    this.$store.dispatch('updateGrafico20AnosSimulacao', payload)
                }
            },
        },

        data() {
        	return {
                series_simulacao: [],
                optionsToExport: '',
        		options: {
                    chart: {
                        type: 'column'
                    },
                    xAxis: {
                        categories: [
                            'Rentabilidade Média da Atividade (20 Anos)'
                        ]
                    },
                    series: [{
                        name: 'Retorno sem Regularização',
                        data: [0]
                    },
                    {
                        name: 'Regularizar com Capital Próprio',
                        data: [0]
                    },
                    {
                        name: 'Regularizar com Capital Próprio com Custo de Capital',
                        data: [0]
                    },
                    {
                        name: 'Regularizar com Financiamento',
                        data: [0]
                    }]
                } // Highcharts
        	}
        },

        watch: {
            regularizacao_barata(values) {
                if (values.length > 1) {
                    this.app = values.APP.slug;
                    this.reserva_legal = values.RL.slug;
                }
                $this.changeSeriesSimulacao();
            },
            series_simulacao(values) {
                if (values.length >= 4) {
                    var chart = this.$refs.highcharts.chart;
                    for (var i = chart.series.length-1; i>=0; i--) {
                        chart.series[i].remove();
                    }
                     values.forEach( function(element, index) {
                        chart.addSeries(element);
                    }, chart);
                }
            },
            generatePDF(values) {
                if(!isNaN(values)) this.getPNGGraphic();
            }
        },

		mounted() {
            var $this = this;
            this.optionsToExport = this.highchartsThemeExport;
            setTimeout(function(){
                var chart = $this.$refs.highcharts.chart;
                $this.app = $this.regularizacao_barata.APP.slug;
                $this.reserva_legal = $this.regularizacao_barata.RL.slug;
                $('.highcharts-wrapper').css({
                    'max-width': '100%'
                });
                chart.reflow();
                $this.changeSeriesSimulacao();
            }, 3000);
		},

        methods: {
            changeSeriesSimulacao() {
                if (this.app != '' && this.reserva_legal != '') {
                    this.series_simulacao = [];
                    // Sem Regularizar
                    this.series_simulacao.push({
                        name: 'Retorno sem Regularização',
                        data: [Number(this.sem_regularizacao.pgto_hectare.toFixed(2))]
                    });
                    // Capital Próprio
                    for (var i = 0; i < this.capital_proprio.length; i++) {
                        var element = this.capital_proprio[i];
                        if (element.APP.slug == this.app && element.RL.slug == this.reserva_legal) {
                            this.series_simulacao.push({
                                name: 'Regularizar com Capital Próprio',
                                data: [Number(element.pgto_hectare.toFixed(2))]
                            });
                        }
                    }
                    // Capital Próprio com Custo de Capital
                    for (var i = 0; i < this.custo_capital.length; i++) {
                        var element = this.custo_capital[i];
                        if (element.APP.slug == this.app && element.RL.slug == this.reserva_legal) {
                            this.series_simulacao.push({
                                name: 'Regularizar com Capital Próprio com Custo de Capital',
                                data: [Number(element.pgto_hectare_retorno.toFixed(2))]
                            });
                        }
                    }
                    // Capital Próprio com Custo de Capital
                    for (var i = 0; i < this.financiamento.length; i++) {
                        var element = this.financiamento[i];
                        if (element.APP.slug == this.app && element.RL.slug == this.reserva_legal && element.linha.slug == this.linha_financiamento) {
                            this.series_simulacao.push({
                                name: 'Regularizar com Financiamento',
                                data: [Number(element.pgto_hectare.toFixed(2))]
                            });
                        }
                    }
                }
            },

            regularizacaoBarata() {
                this.app = this.regularizacao_barata.APP.slug;
                this.reserva_legal = this.regularizacao_barata.RL.slug;
                this.changeSeriesSimulacao();
            },

            getPNGGraphic() {
                var globaloptions = {
                        lang: {
                            decimalPoint: ',',
                            thousandsSep: '.'
                        }
                    },
                    $this = this,
                    exportURL = 'http://export.highcharts.com/';
                this.optionsToExport.xAxis.categories = ['Rentabilidade Média da Atividade (20 Anos)'];
                this.optionsToExport.series = this.series_simulacao;

                axios.post(exportURL, {
                    options: JSON.stringify(this.optionsToExport),
                    filename: 'simulacao-regularizacao-20-anos',
                    type: 'image/png',
                    async: true,
                    globaloptions: JSON.stringify(globaloptions)
                }).then(response => {
                    // create image exported
                    var image = new Image(),
                        dataURL;
                    image.crossOrigin = 'anonymous';
                    image.src = exportURL + response.data;
                    image.onload = function () {
                        // create canvas
                        var canvas = document.createElement('canvas');
                        var ctx = canvas.getContext('2d');
                        canvas.height = this.naturalHeight;
                        canvas.width = this.naturalWidth;
                        ctx.drawImage(this, 0, 0);
                        dataURL = canvas.toDataURL('image/png', 1.0);
                        $this.grafico20AnosSimulacao = dataURL;
                    }
                })
                .catch(error => {
                    this.$notify({
                        message: 'Erro na requisição do Export Highcharts: ' + error,
                        type: 'danger'
                    });
                });
            }
        }
	}

</script>