<template lang="html">
	<section class="section" data-anchor="infos-linhas-financiamento">
		<div class="middle">
			<div class="middle-inner">
				<div class="container container--small padding-bottom-30 text-center">
					<div class="padding-bottom-20">
						<vc-notas :secao="'output-3'" :formato="'text'"></vc-notas>
					</div>
                    <button @click="openModal" type="button" class="button-white">Ver tabela</button>
					<vc-modal v-show="showModal" @close="closeModal">
					    <div slot="body">
					        <table class="table">
					            <thead>
					                <th>Linha</th>
					                <th>Objetivos</th>
					                <th>Taxa de juros final ao tomador</th>
					                <th>Prazos e Carências</th>
					                <th>Beneficiários</th>
					            </thead>
					            <tbody>
					                <tr v-for="linha in infos_linhas_financiamento">
										<td>{{ linha.nome }}</td>
										<td>{{ linha.objetivos }}</td>
										<td>{{ linha.taxa_juros_final_tomador }}</td>
										<td>{{ linha.prazos_carencias }}</td>
										<td>{{ linha.beneficiarios }}</td>
					                </tr>
					            </tbody>
					        </table>
					    </div>
					</vc-modal>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	import Modal from '../modal/Modal.vue';
    import Notas from '../notas/Notas.vue';
    import ServiceLinhas from '../../services/infos-linhas-financiamento'

	export default {
		data() {
            return {
                showModal: false,
                infos_linhas_financiamento: []
            }
        },

        components: { 
            'vc-modal' : Modal,
            'vc-notas' : Notas
        },

        /**
		 * Quando montado executa algumas funções
		 * @return {functions}
		 */
		mounted() {
			this.getLinhas();
		},

        methods: {
        	/**
			 * Pegar Linhas de Financiamento do servidor
			 * @return {json} 
			 */
			getLinhas() {
				ServiceLinhas.get().then(response => {
					this.infos_linhas_financiamento = response.data.infosLinhasFinanciamentos;
				});
			},
        	openModal() {
        		this.showModal = true;
				$.fn.fullpage.setAllowScrolling(false);
				$.fn.fullpage.setKeyboardScrolling(false);
        	},
        	closeModal() {
        		this.showModal = false;
				$.fn.fullpage.setAllowScrolling(true);
				$.fn.fullpage.setKeyboardScrolling(true);
        	}
        }
	}

</script>