<template lang="html">
<section class="section" data-anchor="uso-atual-area-regularizacao">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="section-header">
                    <p class="section-title text-uppercase"><vc-notas :secao="'titulo-input-3'" :formato="'text'"></vc-notas> <vc-notas :secao="'descricao-input-3'"></vc-notas></p>
                </div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="form-item">
                    <p class="label">Área Total da Atividade (ha):</p>
                    <vue-numeric separator="." :precision="2" v-model="area_produtiva"></vue-numeric>
                	<vc-notas :secao="'area_produtiva'"></vc-notas>
                </div>
                <div class="form-item">
                    <p class="label">Preço recebido{{ labels(1) }}:</p>
                    <vue-numeric separator="." :precision="2" v-model="preco_recebido"></vue-numeric>
                    <vc-notas :secao="'preco_recebido'"></vc-notas>
                </div>
                <div class="form-item with-checkbox margin-bottom-15">
                    <p class="label">Custo da produção{{ labels(1) }}:</p>
                    <vue-numeric separator="." :precision="2" v-model="custo_producao"></vue-numeric>
                    <vc-notas :secao="'custo_producao'"></vc-notas>
                    <div class="radio-holder" v-if="isAtividade">
                        <div class="styled-radio">
                            <input type="checkbox" v-model="showCustoPadrao" value="true" id="use-yes-1">
                            <label for="use-yes-1"><span></span>Usar custo médio do Estado</label>
                        </div>  
                    </div>
                </div>
                <transition name="fade" v-if="isAtividade">
					<div key="3" v-show="showCustoPadrao">
						<vc-custos-padrao :custo_producao.sync="custo_producao" :cultura="atividade"></vc-custos-padrao>
					</div>
				</transition>
			</div>
			<div class="col-xs-12 col-md-6">
                <div v-if="atividade == 4">
					<div class="form-item">
						<p class="label">Número de animais vendidos{{ labels(2) }}:</p>
						<vue-numeric separator="." :precision="2" v-model="animais_vendidos"></vue-numeric>
						<!-- <vc-notas :secao="'animais_vendidos'"></vc-notas> -->
					</div>
					<div class="form-item">
						<p class="label">Peso médio dos animais vendidos{{ labels(3) }}:</p>
						<vue-numeric separator="." :precision="2" v-model="media_arrobas_animal"></vue-numeric>
						<!-- <vc-notas :secao="'media_arrobas_animal'"></vc-notas> -->
					</div>
					<div class="form-item">
	                    <p class="label">Arrobas vendidas por hectare{{ labels(4) }}:</p>
	                    <input type="text" v-model="produtividade_media_3_safras" disabled>
	                </div>
                </div>
                <div v-else>
					<div class="form-item">
						<p class="label">Produção atual{{ labels(2) }}:</p>
						<vue-numeric separator="." :precision="2" v-model="producao_atual"></vue-numeric>
						<vc-notas :secao="'producao_atual'"></vc-notas>
					</div>
					<div class="form-item">
	                    <p class="label">Produtividade Atual{{ labels(3) }}:</p>
	                    <input type="text" v-model="produtividade_media_3_safras" disabled>
	                </div>
                </div>
                
			</div>
		</div>
	</div>
</section>
</template>

<script>

	import Notas from '../notas/Notas.vue';
	import CustosPadrao from '../custos-padrao/CustosPadrao.vue'

	export default {
		data() {
			return {
				showCustoPadrao: false
			}
		},
		/**
		 * Componentes importados
		 * @type {Object}
		 */
		components: { 
			'vc-notas': Notas,
			'vc-custos-padrao' : CustosPadrao
		},
		/**
		 * Retorna dados computados
		 * @type {Object}
		 */
		computed: {
			atividade: {
				get() {
					return this.$store.state.premissas_regularizacao.atividade
				}
			},
			area_produtiva: {
				get() {
					return this.$store.state.uso_atual_area_regularizacao.area_produtiva
				},
				set (payload) {
					this.$store.dispatch('updateAreaProdutiva', payload)
				}
			},
			custo_producao: {
				get() {
					return this.$store.state.uso_atual_area_regularizacao.custo_producao
				},
				set (payload) {
					this.$store.dispatch('updateCustoProducao', payload)
				}
			},
			preco_recebido: {
				get() {
					return this.$store.state.uso_atual_area_regularizacao.preco_recebido
				},
				set (payload) {
					this.$store.dispatch('updatePrecoRecebido', payload)
				}
			},
			producao_atual: {
				get() {
					return this.$store.state.uso_atual_area_regularizacao.producao_atual
				},
				set (payload) {
					this.$store.dispatch('updateProducaoAtual', payload)
				}
			},
			produtividade_media_3_safras: {
				get() {
					return this.$store.state.uso_atual_area_regularizacao.produtividade_media_3_safras
				},
				set (payload) {
					this.$store.dispatch('updateProdutividadeMedia3Safras', parseFloat(payload.toFixed(2)));
				}
			},
			animais_vendidos: {
				get() {
					return this.$store.state.uso_atual_area_regularizacao.animais_vendidos
				},
				set (payload) {
					this.$store.dispatch('updateAnimaisVendidos', payload)
				}
			},
			media_arrobas_animal: {
				get() {
					return this.$store.state.uso_atual_area_regularizacao.media_arrobas_animal
				},
				set (payload) {
					this.$store.dispatch('updateMediaArrobasAnimal', parseFloat(payload.toFixed(2)));
				}
			},
			isAtividade: function() {
				return this.atividade == 4 || this.atividade == 2 ? false : true;
			}
		},

		watch: {
			producao_atual(values) {
				if (this.area_produtiva > 0 && this.atividade != 4) {
					let $valor = values / this.area_produtiva;
					this.produtividade_media_3_safras = parseFloat($valor.toFixed(2));
				}
			},
			area_produtiva(values) {
				if (this.producao_atual > 0 && this.atividade != 4) {
					let $valor = this.producao_atual / values;
					this.produtividade_media_3_safras = parseFloat($valor.toFixed(2));
				}
				if (this.media_arrobas_animal > 0 && this.animais_vendidos > 0) {
					let $valor = (this.animais_vendidos * this.media_arrobas_animal) / values;
					this.produtividade_media_3_safras = parseFloat($valor.toFixed(2));
				}
			},
			animais_vendidos(values) {
				if (this.media_arrobas_animal > 0 && this.area_produtiva > 0) {
					let $valor = (values * this.media_arrobas_animal) / this.area_produtiva;
					this.produtividade_media_3_safras = parseFloat($valor.toFixed(2));
				}
			},
			media_arrobas_animal(values) {
				if (this.animais_vendidos > 0 && this.area_produtiva > 0) {
					let $valor = (this.animais_vendidos * values) / this.area_produtiva;
					this.produtividade_media_3_safras = parseFloat($valor.toFixed(2));
				}
			}
		},

		methods: {
			/**
			 * Retorna a label conforme a atividade selecionada
			 * @type {Object}
			 */
			labels: function (type) {
				if (this.atividade == 1) { // Algodão
					if (type == 1) return ' (R$/@ 15kg)';
					else if (type == 2) return ' (@ 15kg)';
					else if (type == 3) return ' (sacas/ha)';
				} else if (this.atividade == 2) { // Cana
					if (type == 1) return ' (R$/ton)';
					else if (type == 2) return ' (ton)';
					else if (type == 3) return ' (ton/ha)';
				} else if (this.atividade == 3) { // Grãos
					if (type == 1) return ' (R$/sacas 60kg)';
					else if (type == 2) return ' (sacas 60kg)';
					else if (type == 3) return ' (sacas/ha)';
				} else if (this.atividade == 4) { // Pecuária
					if (type == 1) return ' (R$/@)';
					else if (type == 2) return ' (cabeças)';
					else if (type == 3) return ' (@/cabeça)';
					else if (type == 4) return ' (@/ha)'
				}
				return '';
			}
		}
	}

</script>