<style lang="stylus">
	.modal-mask
		position fixed
		z-index 9998
		top 0
		left 0
		width 100%
		height 100%
		background-color rgba(0, 0, 0, .5)
		display table
		transition opacity .3s ease

	.modal-wrapper
		display table-cell
		vertical-align middle

	.modal-container
		max-width 700px
		width 100%
		height 80vh
		margin 0px auto
		padding 20px 30px
		border-radius 2px
		font-size 14px
		color #FFF
		box-shadow 0 2px 8px rgba(0, 0, 0, .33)
		background-color rgba(0, 0, 0, .9)
		transition all .3s ease

	.modal-header
		margin 0 0 15px
		h3
			padding 0
			margin 0
			font-size 15px
			color #fff

	.modal-body
		max-height 66vh
		margin 20px 0
		overflow-y auto

	.modal-default-button
		float right

	.modal-enter
		opacity 0

	.modal-leave-active
		opacity 0

	.modal-enter .modal-container,
	.modal-leave-active .modal-container
		-webkit-transform scale(1.1)
		transform scale(1.1)
	
	.closer
		text-align right
		.close-modal
			color #fff
			cursor pointer
			font-size 28px
			opacity 0.4
			transition all 0.3s ease-in-out
			background transparent		
			&:hover 
				opacity 1
</style>

<template lang="html">
	<transition name="modal">
		<div class="modal-mask">
			<div class="modal-wrapper">
				<div class="modal-container">
					<div class="modal-header">
						<div class="row middle-xs">
							<div class="col-xs-10 col-md-11">
								<slot name="header"></slot>
							</div>
							<div class="col-xs-2 col-md-1 closer">
								<span @click="$emit('close')" class="close-modal">X</span>
							</div>
						</div>
					</div>

					<div class="modal-body">
						<slot name="body"></slot>
					</div>

					<div class="modal-footer">
						<slot name="footer"></slot>
					</div>
				</div>
			</div>
		</div>
	</transition>
</template>

<script>

	export default {
	}

</script>