<template lang="html">
<section class="section" data-anchor="premissas-regularizacao">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-5 margin-bottom-30">
				<div class="section-header">
                    <p class="section-title text-uppercase"><vc-notas :secao="'titulo-input-1'" :formato="'text'"></vc-notas></p>
                </div>
                <div class="form-item">
                    <p class="label">Estado:</p>
                    <select id="estado"
					v-model="estado" @change="setEstado">
						<option v-for="estado in estados" :value="estado.id">{{estado.nome}}</option>
					</select>
                    <span class="pointer"></span>
                    <vc-notas :secao="'estado'"></vc-notas>
                </div>
                 <div class="form-item">
                    <p class="label">Bioma:</p>
                    <select name="biomas" id="biomas"
					v-model="bioma" @change="setBioma">
						<option v-for="bioma in biomasByEstado" :value="bioma.id">{{bioma.nome}}</option>
					</select>
                    <span class="pointer"></span>
                    <vc-notas :secao="'biomas'"></vc-notas>
                </div>
                <div class="form-item">
                    <p class="label">Atividade para regularização:</p>
                    <select id="atividadesPrincipais"
					v-model="atividade" @change="setAtividade">
						<option v-for="atividade in atividadesPrincipais" :value="atividade.id">{{atividade.nome}}</option>
					</select>
                    <span class="pointer"></span>
                    <vc-notas :secao="'atividades_principais'"></vc-notas>
                </div>
			</div>
			 <figure class="col-xs-12 col-sm-6 text-center padding-top-30">
		 		<div v-for="(es, key, index) in estados" :key="es.id" v-show="estado == es.id">
            		<img class="mapa-estado" :src="'/assets/img/maps/' + slugfy(es.uf) + '.png'" :alt="es.nome">
            	</div>
            </figure>
		</div>
	</div>
</section>
</template>

<script>
	import Notas from '../notas/Notas.vue';
	import ServiceEstados from '../../services/estados';
	import ServiceBiomas from '../../services/biomas';
	import ServiceAtividadesPrincipais from '../../services/atividades-principais';

	export default {
		/**
		 * Dados do componente
		 * @return {json}
		 */
		data() {
			return {
				estados: [],
				biomas: [],
				atividadesPrincipais: [],
				estado: 0,
				bioma: '',
				atividade: ''
			}
		},
		/**
		 * Componentes importados
		 * @type {Object}
		 */
		components: { 'vc-notas': Notas },
		/**
		 * Propriedades computadas
		 * @type {Object}
		 */
		computed: {
			biomasByEstado: function () {
				return this.biomas.filter(bioma => {
					const { estado } = this.$store.state.premissas_regularizacao;
					return bioma.estado_id == estado;
				})
			},
			animais_vendidos: {
				get() {
					return this.$store.state.uso_atual_area_regularizacao.animais_vendidos
				},
				set (payload) {
					this.$store.dispatch('updateAnimaisVendidos', payload)
				}
			},
			media_arrobas_animal: {
				get() {
					return this.$store.state.uso_atual_area_regularizacao.media_arrobas_animal
				},
				set (payload) {
					this.$store.dispatch('updateMediaArrobasAnimal', payload)
				}
			},
		},
		watch: {
			 atividade(values) {
                if (values != 4) {
                	this.animais_vendidos = 0;
                	this.media_arrobas_animal = 0;
                }
            }
		},
		/**
		 * Quando montado executa algumas funções
		 * @return {functions}
		 */
		mounted() {
			this.getEstados();
			this.getBiomas();
			this.getAtividadesPrincipais();
		},
		methods: {
			/**
			 * Pegar Estados do servidor
			 * @return {json} 
			 */
			getEstados() {
				ServiceEstados.get().then(response => {
					this.estados = response.data.estados;
				});
			},
			/**
			 * Pegar Biomas do servidor
			 * @return {json} 
			 */
			getBiomas() {
				ServiceBiomas.get().then(response => {
					this.biomas = response.data.biomas;
				});
			},
			/**
			 * Pegar Atividades do servidor
			 * @return {json} 
			 */
			getAtividadesPrincipais() {
				ServiceAtividadesPrincipais.get().then(response => {
					this.atividadesPrincipais = response.data.atividadesPrincipais;
				});
			},
			/**
			 * Mudança do Estado no sistema
			 */
			setEstado() {
				const payload = this.estado;
				this.$store.dispatch('ChangeEstado', payload)
			},
			/**
			 * Mudança do Bioma no sistema
			 */
			setBioma() {
				const payload = this.bioma;
				this.$store.dispatch('ChangeBioma', payload)
			},
			/**
			 * Mudança da Atividade no sistema
			 */
			setAtividade() {
				const payload = this.atividade;
				this.$store.dispatch('ChangeAtividadePrincipal', payload)
			},
			/**
			 * Transformar String em Slug
			 */
			slugfy: function(value) {
				var slug = "";
				// Change to lower case
				var valueLower = value.toLowerCase();
				// Letter "e"
				slug = valueLower.replace(/e|é|è|ẽ|ẻ|ẹ|ê|ế|ề|ễ|ể|ệ/gi, 'e');
				// Letter "a"
				slug = slug.replace(/a|á|à|ã|ả|ạ|ă|ắ|ằ|ẵ|ẳ|ặ|â|ấ|ầ|ẫ|ẩ|ậ/gi, 'a');
				// Letter "o"
				slug = slug.replace(/o|ó|ò|õ|ỏ|ọ|ô|ố|ồ|ỗ|ổ|ộ|ơ|ớ|ờ|ỡ|ở|ợ/gi, 'o');
				// Letter "u"
				slug = slug.replace(/u|ú|ù|ũ|ủ|ụ|ư|ứ|ừ|ữ|ử|ự/gi, 'u');
				// Letter "d"
				slug = slug.replace(/đ/gi, 'd');
				// Trim the last whitespace
				slug = slug.replace(/\s*$/g, '');
				// Change whitespace to "-"
				slug = slug.replace(/\s+/g, '-');

				return slug;
			}
		}

	}
	
</script>