<template lang="html">
<div>
    <nav id="navigation" class="navigation">
        <ul id="sections-menu" class="sections-menu">
            <li class="menu-item menu-item--brand text-center">
                 <img src="~@/assets/img/agroicone.png" alt="Agroicone" >
            </li>
            <li class="menu-item menu-item--dot text-center text-uppercase active" data-menuanchor="premissas-regularizacao">
                <a class="link" href="#premissas-regularizacao">
                    <img class="icon" src="~@/assets/img/icone-premissa.png" alt="Premissa de Regularização" />
                    <span class="title">Área para Regularização</span>
                </a>
            </li>
            <li class="menu-item menu-item--dot text-center text-uppercase" data-menuanchor="dados-propriedade">
                <a class="link" href="#dados-propriedade">
                    <img class="icon" src="~@/assets/img/icone-dados.png" alt="Dados da Propriedade" />
                    <span class="title">Dados da Propriedade</span>
                </a>
            </li>
            <li class="menu-item menu-item--dot text-center text-uppercase active" data-menuanchor="uso-atual-area-regularizacao">
                <a class="link" href="#uso-atual-area-regularizacao">
                    <img class="icon" src="~@/assets/img/icone-atividade.png" alt="Atividade para Regularização" />
                    <span class="title">Atividade para Regularização</span>
                </a>
            </li>
            <li class="menu-item menu-item--dot text-center text-uppercase segunda-safra" data-menuanchor="segunda-safra">
                <a class="link" href="#segunda-safra">
                    <img class="icon" src="~@/assets/img/icone-safra.png" alt="Segunda Safra" />
                    <span class="title">Segunda Safra</span>
                </a>
            </li>
            <li class="menu-item menu-item--dot text-center text-uppercase" data-menuanchor="custos-financeiros">
                <a class="link" href="#custos-financeiros">
                    <img class="icon" src="~@/assets/img/icone-custos.png" alt="Custos Financeiros" />
                    <span class="title">Custos financeiros</span>
                </a>
            </li>
            <li class="menu-item menu-item--dot text-center text-uppercase" data-menuanchor="rentabilidade-atual">
                <a class="link" href="#rentabilidade-atual">
                    <img class="icon" src="~@/assets/img/icone-rentabilidade.png" alt="Rentabilidade Atual" />
                    <span class="title">Rentabilidade média atual</span>
                </a>
            </li>
            <li class="menu-item menu-item--dot text-center text-uppercase" data-menuanchor="capital-proprio">
                <a class="link" href="#capital-proprio">
                    <img class="icon" src="~@/assets/img/icone-graficos.png" alt="Gráficos" />
                    <span class="title">Gráficos</span>
                </a>
            </li>
        </ul>
        <button id="toggle-nav" class="toggle-nav">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>
    <div class="arrows-navigation">
        <button id="prev" class="slide-arrow arrow-up" v-on:click="fullpageUp()">Anterior</button>
        <button id="next" class="slide-arrow arrow-down" v-on:click="fullpageDown()">Próximo</button>
        <span class="nav-helper-text text-center">Para próxima tela<br /> clique na seta abaixo</span>
    </div>
    <div class="logo-input">
        <img src="~@/assets/img/input.png" alt="INPUT">
    </div>
    <div class="logo-mobile">
        <img src="~@/assets/img/logo-mobile.png" alt="Agroicone">
    </div>
</div>
</template>

<script>

    export default {

        mounted() {
            // mobile nav 
            $("#toggle-nav").on("click", function(){
                $(this).toggleClass("toggled");
                $("#navigation").toggleClass("visible");
            })
        },

        methods: {
            fullpageUp() {
                $.fn.fullpage.moveSectionUp();
            },
            fullpageDown() {
                $.fn.fullpage.moveSectionDown();
            },
        }
    }

</script>