<style lang="stylus">
	.project-pdf
		position fixed
		z-index 10
		top 0
		left -100%
		margin 0 auto
		width 650px
		padding 50px 25px 30px
		color #000
		background #FFF
</style>

<template lang="html">
<div id="project-pdf" class="project-pdf">
	<header class="project-pdf-header">
		<div class="logo">
			<img src="~@/assets/img/agroicone-color.png" alt="Agroicone" width="200">
			<img src="~@/assets/img/input-color.png" alt="INPUT" width="200">
		</div>
	</header>
	<main class="project-pdf-main">
		<section class="content padding-bottom-20">
			<h1><vc-notas :secao="'titulo-pdf'" :formato="'text'"></vc-notas></h1>
			<h3><vc-notas :secao="'titulo-output-1-resultado'" :formato="'text'"></vc-notas> <strong>{{ rentabilidade_atual | currency }}</strong></h3>
		</section>
		<section class="content">
			<h2><vc-notas :secao="'pdf-grafico-1'" :formato="'text'"></vc-notas></h2>
			<div id="graphic1"></div>
			<h2><vc-notas :secao="'pdf-grafico-2'" :formato="'text'"></vc-notas></h2>
			<div id="graphic2"></div>
			<h2><vc-notas :secao="'pdf-grafico-3'" :formato="'text'"></vc-notas></h2>
			<div id="graphic3"></div>
			<h2><vc-notas :secao="'pdf-grafico-4'" :formato="'text'"></vc-notas></h2>
			<div id="graphic4"></div>
		</section>
	</main>
</div>
</template>

<script>
import Notas from '../notas/Notas.vue';
export default {
	components: { 
		'vc-notas': Notas
	},

	computed: {
		rentabilidade_atual: {
			get() {
				return this.$store.state.resultados.rentabilidade_atual;			
			}
		}
	}
}
</script>