<template lang="html">
<section class="section section-no-helper" data-anchor="dados-propriedade">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="section-header">
                    <p class="section-title text-uppercase"><vc-notas :secao="'titulo-input-2'" :formato="'text'"></vc-notas></p>
                </div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="form-item">
                    <p class="label">Déficit RL (ha):</p>
                    <vue-numeric separator="." :precision="2" v-model="deficit_rl"></vue-numeric>
                    <vc-notas :secao="'deficit_rl'"></vc-notas>
                </div>
                <div class="form-item">
                    <p class="label">Déficit APP (ha):</p>
                    <vue-numeric separator="." :precision="2" v-model="deficit_app"></vue-numeric>
                    <vc-notas :secao="'deficit_app'"></vc-notas>
                </div>	
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="form-item">
					<p class="label">Área marginal (sem uso nenhum) (ha):</p>
					<vue-numeric separator="." :precision="2" v-model="area_marginal"></vue-numeric>
					<vc-notas :secao="'area_marginal'"></vc-notas>
				</div>
                <div class="form-item">
                    <p class="label">APP atual conservada (sem déficit) (ha):</p>
                    <vue-numeric separator="." :precision="2" v-model="app_atual_conservada"></vue-numeric>
                    <vc-notas :secao="'app_atual_conservada'"></vc-notas>
                </div>
			</div>
		</div>
	</div>
</section>
</template>

<script>

	import { mapState } from 'vuex';
	import Notas from '../notas/Notas.vue';

	export default {
		/**
		 * Componentes importados
		 * @type {Object}
		 */
		components: { 'vc-notas': Notas },
		
		computed: {
			deficit_rl: {
				get() {
					return this.$store.state.dados_propriedade.deficit_rl
				},
				set (payload) {
					this.$store.dispatch('updateDeficitRl', payload)
				}
			},
			deficit_app: {
				get() {
					return this.$store.state.dados_propriedade.deficit_app
				},
				set (payload) {
					this.$store.dispatch('updateDeficitApp', payload)
				}
			},
			area_marginal: {
				get() {
					return this.$store.state.dados_propriedade.area_marginal
				},
				set (payload) {
					this.$store.dispatch('updateAreaMarginal', payload)
				}
			},
			app_atual_conservada: {
				get() {
					return this.$store.state.dados_propriedade.app_atual_conservada
				},
				set (payload) {
					this.$store.dispatch('updateAppAtualConservada', payload)
				}
			}
		}
	}

</script>