<template lang="html">
	<div class="homepage">
	    <header class="home-header">
	        <div class="logo">
	            <a href="#"><img src="~@/assets/img/logo.png" alt="Agroicone" width="200" /></a>
	        </div>
	    </header>
        <section class="content center">
            <div class="home-headline">
                <h1 class="title text-uppercase">Qual é o projeto de regularização que gera menor impacto financeiro para a minha atividade?</h1>
                <p class="desc">Calcule a rentabilidade atual da atividade de sua propriedade e como ela será impactada ao adotar diferentes modelos de regularização ambiental para Áreas de Preservação Ambiental (APPs) e Reserva Legal (RL), utilizando capital próprio ou tomando financiamento.</p>
            </div>
            <div class="buttons">
                <a @click="showModal = true" href="#" class="button left text-center vertical-text soft-transition">O que você precisará para a simulação?</a>
                <router-link :to="{ name: 'dashboard' }" class="button right text-center vertical-text soft-transition">Iniciar</router-link>
            </div>
        </section>
        <vc-modal v-show="showModal" @close="showModal = false">
            <h3 slot="header">
                <vc-notas :secao="'titulo-modal-home'" :formato="'text'"></vc-notas>
            </h3>
            <div slot="body">
                <vc-notas :secao="'descricao-modal-home'" :formato="'text'"></vc-notas>
            </div>
        </vc-modal>
    </div>
</template>

<script>
    
    import Modal from '../modal/Modal.vue';
    import Notas from '../notas/Notas.vue'

	export default {

        name: 'Home',

        data() {
            return {
                showModal: false
            }
        },

        components: { 
            'vc-modal' : Modal,
            'vc-notas' : Notas
        },

		beforeCreate: function () {
			if (!this.$session.has('auth') && this.$session.get('auth') != '4') this.$router.push('/login');
		},
	}

</script>