// Todo e qualquer estilo para elementos globais
// Reset normalize
normalize()

// Reset box sizing
box-sizing-reset()

// Defaults
html,
body
	color #fff
	padding 0
	font-size 100%
	font-family $main_font
	line-height 1.5
	height 100%
	min-height 100%
	overflow auto
	background-color $dark
	background-image url('../img/home-background.jpg')
	bgFixed()

img
	max-width 100%
	
figure
	margin 0
	
p
	margin 0 0 15px
	line-height 1.6
	&:last-child
		margin-bottom 0
