// Todo e qualquer estilo personalizado	
.loading-text
	vertical-center(-50%)
	text-align left
	font-size rem(24px)
	font-weight 700	
	
.fade-enter-active, .fade-leave-active
	transition opacity .5s
  
.fade-enter, .fade-leave-to
	opacity 0
	
.high-container
	position relative
	max-height 400px
	height 350px
	margin-bottom 10px
	overflow hidden
	transition .5s all ease-in
	&.fluxo
		height 0
	&.active
		height 350px
	
.highcharts-wrapper
	absolute: 0
	size: 100%