<template lang="html">
	<section class="section" data-anchor="fluxo-de-caixa">
		<div class="container">
			<div class="row">
				<div class="section-header col-xs-12">
                    <p class="section-title text-uppercase"><vc-notas :secao="'titulo-output-5'" :formato="'text'"></vc-notas></p>
                </div>
                <div class="col-xs-12">
                	<vc-fluxo-capital-proprio :grafico.sync="grafico" :key="1" v-if="grafico == 'capital-proprio'" :class="{ active: grafico == 'capital-proprio' }"></vc-fluxo-capital-proprio>
                    <vc-fluxo-financiamento :grafico.sync="grafico" :key="2" v-if="grafico == 'financiamento'" :class="{ active: grafico == 'financiamento' }"></vc-fluxo-financiamento>
                </div>
                <div class="col-xs-12">
	                <div class="row middle-xs">
	                	<div class="col-xs-3">
                            <div class="row">
                                <div class="col-xs-12 margin-bottom-10">
                                    <div class="radio-holder">
                                        <div class="styled-radio radio-inline nomargin">
                                            <input type="radio" v-model="grafico" id="fluxoCapitalProprio" value="capital-proprio" checked>
                                            <label for="fluxoCapitalProprio"><span></span>Capital Próprio</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="radio-holder">
                                        <div class="styled-radio radio-inline nomargin">
                                            <input type="radio" v-model="grafico" id="fluxoFinanciamento" value="financiamento" />
                                            <label for="fluxoFinanciamento"><span></span>Financiamento</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <p><vc-notas :secao="'descricao-output-5'" :formato="'text'"></vc-notas></p>
                        </div>
	                </div>
                </div>
			</div>
		</div>
	</section>
</template>

<script>

	import Notas from '../notas/Notas.vue';
    import FluxoCapitalProprio from './FluxoCapitalProprio.vue'
    import FluxoFinanciamento from './FluxoFinanciamento.vue'

	export default {
		components: {
			'vc-notas': Notas,
            'vc-fluxo-capital-proprio': FluxoCapitalProprio,
            'vc-fluxo-financiamento': FluxoFinanciamento
		},

        data() {
            return {
                grafico: 'capital-proprio'
            }
        }
	}

</script>