<template lang="html">
	<div class="high-container fluxo">
		<highcharts class="highcharts-wrapper" :options="options" ref="highchartsFinanciamento"></highcharts>
	</div>
</template>

<script>

	export default {
        props: ['grafico'],

		computed: {
            app: {
                get() {
                    return this.$store.state.app
                },
                set (payload) {
                    this.$store.dispatch('updateApp', payload)
                }
            },
            reserva_legal: {
                get() {
                    return this.$store.state.reserva_legal
                },
                set (payload) {
                    this.$store.dispatch('updateReservaLegal', payload)
                }
            },
            linha_financiamento: {
                get() {
                    return this.$store.state.linha_financiamento
                },
                set (payload) {
                    this.$store.dispatch('updateLinhaFinanciamento', payload)
                }
            },
			regularizacao_barata: {
                get() {
                    return this.$store.state.resultados.regularizacao_barata;            
                },
                set (payload) {
                    this.$store.dispatch('updateRegularizacaoBarata', payload)
                }
            },
			sem_regularizacao: {
                get() {
                    return this.$store.state.resultados.retorno_sem_regularizacao.valores;            
                }
            },
            retorno_financiamento: {
            	get() {
                    return this.$store.state.resultados.retorno_regularizacao_financiamento;            
                }
            },
            resultados: {
                get() {
                    return this.$store.state.resultados;            
                }
            },
            generatePDF: {
                get() {
                    return this.$store.state.generatePDF;
                },
				set(payload) {
					this.$store.dispatch('updateGeneratePDF', payload)
				}
            },
            highchartsThemeExport: {
                get() {
                    return this.$store.state.highchartsThemeExport;
                }
            },
            graficoFluxoFinanciamento: {
                get() {
                    return this.$store.state.graficoFluxoFinanciamento;            
                },
                set(payload) {
                    this.$store.dispatch('updateGraficoFluxoFinanciamento', payload)
                }
            },
		},

        data() {
            return {
                series_simulacao: [],
                optionsToExport: '',
                options: {
                    chart: {
                        type: 'column'
                    },
                    series: [{
                        name: ['Financiamento'],
                        data: [0]
                    }]
                } // Highcharts
            }
        },

        watch: {
            // Ao receber os resultados exibi no gráfico a forma de restauro mais barata.
            linha_financiamento(values) {
                this.montarGrafico();
            },
            app(values) {
                this.montarGrafico();
            },
            reserva_legal(values) {
                this.montarGrafico();
            },
            generatePDF(values) {
                this.getPNGGraphic();
            }
        },

		mounted() {
            var chart = this.$refs.highchartsFinanciamento.chart;
            this.optionsToExport = this.highchartsThemeExport;
            var $this = this;
            setTimeout(function(){
                chart.reflow();
                if (this.resultados != false) $this.montarGrafico();
            }, 200);
        },

        methods: {
            montarGrafico() {
                var chart = this.$refs.highchartsFinanciamento.chart;
                // Limpa o Gráfico
                for (var i = chart.series.length-1; i>=0; i--) {
                    chart.series[i].remove();
                }
                var dataRetornoAtividades = [],
                    dataCustosRegularizacao = [],
                    dataRetornoFinanciamento = [];

                // Preenche o Gráfico
                for (var indexGlobal = 0; indexGlobal < 21; indexGlobal++) {
                    // Retorno das Atividades
                    dataRetornoAtividades.push(Number((this.sem_regularizacao[indexGlobal]/1000).toFixed(2)));
                    // Retorno com Financiamento 
                    for (var indexFinanciamento = 0; indexFinanciamento < this.retorno_financiamento.length; indexFinanciamento++) {
                        var element = this.retorno_financiamento[indexFinanciamento];
                        if (element.APP.slug == this.app && element.RL.slug == this.reserva_legal && element.linha.slug == this.linha_financiamento) {
                            dataRetornoFinanciamento.push(Number((element.financiamento[indexGlobal]/1000).toFixed(2)));
                            // Percorre custos de regularizacao com financiamento
                            var valor = element.custos_regularizacao[indexGlobal];
                            dataCustosRegularizacao.push(Number((valor/1000).toFixed(2)));
                        }
                    }
                }
                // Adiciona
                chart.addSeries({
                    name: 'Retorno das Atividades',
                    data: dataRetornoAtividades
                });
                chart.addSeries({
                    name: 'Custo de Regularização',
                    data: dataCustosRegularizacao
                });
                chart.addSeries({
                    name: 'Retorno após Regularizar',
                    data: dataRetornoFinanciamento
                });
                this.series_simulacao = [];
                this.series_simulacao.push({
                        name: 'Retorno das Atividades',
                        data: dataRetornoAtividades
                    },
                    {
                        name: 'Custo de Regularização',
                        data: dataCustosRegularizacao
                    },
                    {
                        name: 'Retorno após Regularizar',
                        data: dataRetornoFinanciamento
                    }
                );
                setTimeout(function(){
                    $('.highcharts-wrapper').css({
                        'max-width': '100%'
                    });
                    chart.reflow();
                }, 1000);
            },
            getPNGGraphic() {
                var globaloptions = {
                        lang: {
                            decimalPoint: ',',
                            thousandsSep: '.'
                        }
                    },
                    $this = this,
                    exportURL = 'http://export.highcharts.com/';
                this.optionsToExport.series = this.series_simulacao;
                axios.post(exportURL, {
                    options: JSON.stringify(this.optionsToExport),
                    filename: 'fluxo-linhas-financiamento',
                    type: 'image/png',
                    async: true,
                    globaloptions: JSON.stringify(globaloptions)
                }).then(response => {
                    // create image exported
                    var image = new Image(),
                        dataURL;
                    image.crossOrigin = 'anonymous';
                    image.src = exportURL + response.data;
                    image.onload = function () {
                        // create canvas
                        var canvas = document.createElement('canvas');
                        var ctx = canvas.getContext('2d');
                        canvas.height = this.naturalHeight;
                        canvas.width = this.naturalWidth;
                        ctx.drawImage(this, 0, 0);
                        dataURL = canvas.toDataURL('image/png', 1.0);
                        $this.graficoFluxoFinanciamento = dataURL;
                    }
                    // Abrir Capital próprio se não foi
                    if($this.generatePDF != 'financiamento' || !isNaN($this.generatePDF)) {
                        setTimeout(function(){
                            $this.generatePDF = 'capital-proprio';
                        }, 1000);
                        $this.$emit('update:grafico', 'capital-proprio');
                    }
                })
                .catch(error => {
                    this.$notify({
                        message: 'Erro na requisição do Export Highcharts: ' + error,
                        type: 'danger'
                    });
                });
            }
        }
	}

</script>