<template lang="html">
    <div class="high-container fluxo">
        <highcharts class="highcharts-wrapper" :options="options" ref="highcharts"></highcharts>
    </div>
</template>

<script>

	export default {

        props: ['grafico'],

		computed: {
            app: {
                get() {
                    return this.$store.state.app
                },
                set (payload) {
                    this.$store.dispatch('updateApp', payload)
                }
            },
            reserva_legal: {
                get() {
                    return this.$store.state.reserva_legal
                },
                set (payload) {
                    this.$store.dispatch('updateReservaLegal', payload)
                }
            },
			regularizacao_barata: {
                get() {
                    return this.$store.state.resultados.regularizacao_barata;            
                }
            },
			sem_regularizacao: {
                get() {
                    return this.$store.state.resultados.retorno_sem_regularizacao.valores;            
                }
            },
            custos_regularizacao: {
            	get() {
                    return this.$store.state.resultados.custos_regularizacao;            
                }
            },
            retorno_capital_proprio: {
            	get() {
                    return this.$store.state.resultados.retorno_regularizacao_capital_proprio;            
                }
            },
            resultados: {
                get() {
                    return this.$store.state.resultados;            
                }
            },
            generatePDF: {
                get() {
                    return this.$store.state.generatePDF;
                },
				set(payload) {
					this.$store.dispatch('updateGeneratePDF', payload)
				}
            },
            highchartsThemeExport: {
                get() {
                    return this.$store.state.highchartsThemeExport;
                }
            },
            graficoFluxoCapitalProprio: {
                get() {
                    return this.$store.state.graficoFluxoCapitalProprio;            
                },
                set(payload) {
                    this.$store.dispatch('updateGraficoFluxoCapitalProprio', payload)
                }
            },
		},

        data() {
            return {
                series_simulacao: [],
                optionsToExport: '',
                options: {
                    chart: {
                        type: 'column'
                    },
                    series: [{
                        name: ['Capital Próprio'],
                        data: [0]
                    }]
                } // Highcharts
            }
        },

        watch: {
            app(values) {
                this.montarGrafico();
            },
            reserva_legal(values) {
                this.montarGrafico();
            },
            generatePDF(values) {
                this.getPNGGraphic();
            }
        },

		mounted() {
            var $this = this;
            this.optionsToExport = this.highchartsThemeExport;
            setTimeout(function(){
                var chart = $this.$refs.highcharts.chart;
                chart.reflow();
                $this.montarGrafico();
            }, 500);
        },

        methods: {
            montarGrafico() {
                var chart = this.$refs.highcharts.chart;
                
                // Limpa o Gráfico
                for (var i = chart.series.length-1; i>=0; i--) {
                    chart.series[i].remove();
                }
                var dataRetornoAtividades = [],
                    dataCustosRegularizacao = [],
                    dataRetornoCapitalProprio = [];

                // Preenche o Gráfico
                for (var indexGlobal = 0; indexGlobal < 21; indexGlobal++) {
                    // Retorno das Atividades
                    dataRetornoAtividades.push(Number((this.sem_regularizacao[indexGlobal]/1000).toFixed(2)));
                    // Custos de Regularizacao
                    for (var indexCustos = 0; indexCustos < this.custos_regularizacao.length; indexCustos++) {
                        var element = this.custos_regularizacao[indexCustos];
                        if (element.APP.slug == this.app && element.RL.slug == this.reserva_legal) {
                            dataCustosRegularizacao.push(Number(-(element.custos[indexGlobal]/1000).toFixed(2)));
                        }
                    }
                    // Retorno Capital Próprio
                    for (var indexCapital = 0; indexCapital < this.retorno_capital_proprio.length; indexCapital++) {
                        var element = this.retorno_capital_proprio[indexCapital];
                        if (element.APP.slug == this.app && element.RL.slug == this.reserva_legal) {
                            dataRetornoCapitalProprio.push(Number((element.capital_proprio[indexGlobal]/1000).toFixed(2)));
                        }
                    }
                }
                // Adiciona
                chart.addSeries({
                    name: 'Retorno das Atividades',
                    data: dataRetornoAtividades
                });
                chart.addSeries({
                    name: 'Custo de Regularização',
                    data: dataCustosRegularizacao
                });
                chart.addSeries({
                    name: 'Retorno após Regularizar',
                    data: dataRetornoCapitalProprio
                });
                this.series_simulacao = [];
                this.series_simulacao.push({
                        name: 'Retorno das Atividades',
                        data: dataRetornoAtividades
                    },
                    {
                        name: 'Custo de Regularização',
                        data: dataCustosRegularizacao
                    },
                    {
                        name: 'Retorno após Regularizar',
                        data: dataRetornoCapitalProprio
                    }
                );
                setTimeout(function(){
                    $('.highcharts-wrapper').css({
                        'max-width': '100%'
                    });
                    chart.reflow();
                }, 1000);
            },
            getPNGGraphic() {
                var globaloptions = {
                        lang: {
                            decimalPoint: ',',
                            thousandsSep: '.'
                        }
                    },
                    $this = this,
                    exportURL = 'http://export.highcharts.com/';
                this.optionsToExport.series = this.series_simulacao;
                axios.post(exportURL, {
                    options: JSON.stringify(this.optionsToExport),
                    filename: 'fluxo-capital-proprio',
                    type: 'image/png',
                    async: true,
                    globaloptions: JSON.stringify(globaloptions)
                }).then(response => {
                    // create image exported
                    var image = new Image(),
                        dataURL;
                    image.crossOrigin = 'anonymous';
                    image.src = exportURL + response.data;
                    image.onload = function () {
                        // create canvas
                        var canvas = document.createElement('canvas');
                        var ctx = canvas.getContext('2d');
                        canvas.height = this.naturalHeight;
                        canvas.width = this.naturalWidth;
                        ctx.drawImage(this, 0, 0);
                        dataURL = canvas.toDataURL('image/png', 1.0);
                        $this.graficoFluxoCapitalProprio = dataURL;
                    }
                    if($this.generatePDF != 'capital-proprio' || !isNaN($this.generatePDF)){
                        setTimeout(function(){
                            $this.generatePDF = 'financiamento';
                        }, 1000);
                        $this.$emit('update:grafico', 'financiamento');
                    }
                })
                .catch(error => {
                    this.$notify({
                        message: 'Erro na requisição do Export Highcharts: ' + error,
                        type: 'danger'
                    });
                });
            }
        }
	}

</script>