.calculator
	.calculator-header
		fixed: 0 0 auto
		width 100%
		padding rem(30px 0)
		z-index 10
	.headline
		background rgba(#000, 0.5)
		padding rem(5px 10px 5px 50px)
		p
			font-size rem(15px)
	.logo
		padding-right rem(40px)
	.section
		background transparent
		margin-left rem(150px)
		min-height 100vh
		clear both
		&.opacity 
			opacity 0
		.fp-tableCell
			padding-top rem(25px)
		+below(1105px)
			margin-left 0
			padding 0
			width 100%
			height auto !important
			.fp-tableCell
				padding rem(25px 0)
		.section-header
			margin-bottom rem(25px)
			width 100%
			float left
			&:after
				content: ""
				display block
				width rem(50px)
				float left
				background #fff
				height 3px
			.section-title
				font-weight 400
				margin rem(0 0 5px)
				font-size rem(25px)
				+below(rem(1105px))
					font-size rem(18px)
				+below(rem(600px))
					font-size rem(14px)
	
		&.section-loading
			position relative

	.maps
		img 
			padding 0 22%
		+below(rem(1105px))
			width 70%
		+below(rem(768px))
			display none

	.safra-options
		clear both

.logo-mobile
	display none
	position fixed
	top rem(12px)
	right 20px
	width 50px
	+below(rem(1105px))
		display block
		
.logo-input
	fixed: rem(20px) rem(10px) auto auto
	+below(rem(1105px))
		fixed: rem(10px) rem(90px) auto auto

.separator
	+above(rem(1105px))
		display none

.graficos
	+below(768px)
		width 100%!important