input,
textarea,
select
    font-family 'Open Sans', sans serif
    border 1px solid #fff
    padding rem(5px 10px)
    min-width rem(220px)
    max-width rem(220px)
    min-height 40px
    font-size 16px
    font-weight 300
    color $white
    background alpha($black, 80%)
    +placeholder()
        color $white
    +below(480px)
        width 80%
        
.checkbox-holder
    margin-top 10px
    font-size 13px
    margin-bottom 0
    float left
    width 100%
    label
        cursor pointer
    .styled-checkbox
        input[type="checkbox"]
            display none
            &:checked + label span, &:hover + label span
                background #fff
                border 3px solid #000
                #uso
                    opacity 0
                    visibility hidden
            &:disabled + label span
                background #5b5b5b
                box-shadow 0 0 0 1px #000
                border 3px solid #000
        span
            width 18px
            height 18px
            display inline-block
            background #000
            border-radius 0
            vertical-align middle
            margin -2px 10px 0 0
            box-shadow 0 0 0 1px #fff
    

.radio-holder
    label
        display inline-block
        margin-right 20px
        cursor pointer
        
    .styled-radio
        margin-top 20px
        input[type="radio"],
        input[type="checkbox"]
            display none
            &:checked + label span, &:hover + label span
                background #fff
                border 3px solid #000
            &:disabled + label span
                background #5b5b5b
                box-shadow 0 0 0 1px #000
                border 3px solid #000
        span
            width 18px
            height 18px
            display inline-block
            background #000
            border-radius 50%
            cursor pointer
            vertical-align middle
            margin -2px 10px 0 0
            box-shadow 0 0 0 1px #fff

select
    background rgba(#000, 0.7) url('../img/select-arrow.png') center right 10px no-repeat
    background-size 8px
    height 40px
    appearance none
    padding-right 10px
    float left
    overflow hidden
    cursor pointer
    option
        padding rem(5px)
        cursor pointer

.form-item
    width 100%
    float left
    clear both
    margin-bottom 15px
    +below(rem(768px))
        margin-bottom 10px
    &.with-checkbox
        margin-bottom 0
    &.hidden
        margin-top 10px

    .pointer
        height 40px
        float left
        width 1px
        border-left 1px solid #fff
        margin-left -30px
        position relative

p.label
    max-width rem(400px)
    display block
    font-size rem(16px)
    font-weight 600
    margin rem(10px 0 3px)
    clear both
    width 100%

.help
    font-weight 600
    width 30px
    height 30px
    display inline-block
    border 1px solid #aaa
    border-radius 100%
    line-height 30px
    margin-left 10px
    margin-top 5px
    cursor pointer
    position relative
    transition all 0.3s ease-in-out
    &:hover, &:focus
        background #000
        outline none
    &:before
        position absolute
        top -5px
        left 100%
        color #fff
        content attr(aria-label) //This pulls in the text from the element with the tooltip
        padding 10px
        text-transform none
        transition all 0.5s ease
        width 200px
        margin-left 10px
        z-index 10000
        outline none
        word-wrap break-word
        background-color rgba(#000, 0.9)
        
        +below(rem(460px))
            left inherit
            right 100%
            fixed: 50% 0 auto
            max-width rem(248px)
            width 100%
            margin 0 auto
            padding rem(25px)
    
    &:before,
    &:after
        color #efefef
        font-size rem(12px)
        opacity 0
        line-height 1.5
        pointer-events none
        font-weight 400
        text-align left
    
    &:focus:before,
    &:focus:after,
    &:hover:before,
    &:hover:after
        opacity 1
        transition all 0.75s ease
