.text-uppercase
    text-transform uppercase
.text-center
    text-align center
.text-justify
    text-align justify
.text-left
    text-align left

.left
    float left
.right
    float right
.center
    display block
    margin 0 auto
.vertical-text
    display flex
    align-items center
    justify-content center

.soft-transition
    transition all 0.3s ease-in-out

.sr-only
    display none
.hidden
    display none

// grid
.clearfix
    clear both
    clearfix()
.container
    width 100%  
    &--small
        max-width rem(500px)
        margin 0 auto
.row
    width 100%   
.col
    display block
    float left
.col-half
    +above(1024px)
        column(1/2)
    +below(rem(768px))
        width 100%
.col-one-third
    width 29%
    +below(rem(768px))
        width 100%
.col-two-third
    width 70%
    +below(rem(768px))
        width 100%

.fullpage-wrapper
    padding rem(25px 15px 25px 65px)
    overflow hidden
    +above(1024px)
        padding rem(25px 135px 25px 65px)
        
.separator
    margin-top 40px
    border 0
    height 1px
    width 100%

for number in 0px 5px 10px 15px 20px 25px 30px 35px 40px 45px 50px 70px 100px
    .padding-{number}
        padding-top rem(number) !important
        padding-bottom rem(number) !important
    .padding-top-{number}
        padding-top rem(number) !important
    .padding-bottom-{number}
        padding-bottom rem(number) !important
        
    .margin-{number}
        margin-top rem(number) !important
        margin-bottom rem(number) !important
    .margin-top-{number}
        margin-top rem(number) !important
    .margin-bottom-{number}
        margin-bottom rem(number) !important
        
.nopadding
    padding 0
.nomargin
    margin 0!important
    
.middle
    display table
    table-layout fixed
    size: 100%
    
    > .middle-inner
        display table-cell
        vertical-align middle