.homepage
    position relative
    height 100vh
    min-height rem(450px)
    
    .logo
        display block
        padding rem(15px)
        text-align center
        +above(768px)
            padding rem(40px 15px)
        
    .home-headline 
        margin rem(50px auto)
        padding 1em
        +below(rem(768px))
            margin rem(30px auto)
            
        .title
            font-size rem(32px)
            font-weight 400
            margin rem(40px 0 0)
            +below(rem(768px))
                font-size rem(18px)
        .desc
            font-size rem(16px)
            font-weight 400
            margin rem(20px 0 0)
            +below(rem(768px))
                font-size rem(14px)
        
    .content
        center(780px)
        vertical-center(-50%)
        .buttons
            center(600px)
            clearfix()
            
        .label
            font-size rem(12px)
