<template lang="html">
	<span v-if="text()" v-html="descricao()"></span>
	<span v-else class="help text-center" :aria-label="descricao()" tabindex="0">?</span>
</template>

<script>

export default {
	props: ['secao', 'formato'],

	methods: {
		descricao() {
			let notas = this.$store.state.notas;
			if (notas.length != 0) {
				let nota = _.find(notas, ['secao', this.secao]);
				if (nota) return nota.descricao;
				return 'Sem descrição';
			} else {
				return '...';
			}
		},

		text() {
			return this.formato == 'text' ? true : false;
		} 
	}
}
</script>