<template lang="html">

	<form v-on:submit.prevent="sendForm" class="form-horizontal" method="POST">
		<h2 class="ls-title" v-if="action == 'update'">Atualizar Estado</h2>
		<h2 class="ls-title" v-else>Criar novo Estado</h2>
	  <div v-bind:class="{'ls-label': true, 'ls-error': errors.nome}">
	      <label for="nome"><b class="ls-label-text">Nome</b></label>
	      <input id="nome" type="text" class="form-control" v-model="estado.nome" required autofocus>
	      <small class="ls-help-message" v-for="error in errors.nome">{{ error }}</small>
	  </div>
	  <div v-bind:class="{'ls-label': true, 'ls-error': errors.uf}">
	      <label for="uf"><b class="ls-label-text">UF</b></label>
	      <input id="uf" type="text" class="form-control" v-model="estado.uf" required>
	      <small class="ls-help-message" v-for="error in errors.uf">{{ error }}</small>
	  </div>

	  <div class="ls-label">
	    <button type="submit" class="ls-btn ls-btn-primary">Salvar</button>
	    <button type="button" class="ls-btn"
				v-on:click.prevent="$emit('toggle-form')"
				>Cancelar</button>
	  </div>
	</form>
</template>

<script>

	export default {

		props: ['estado', 'errors', 'action'],

		methods: {
			sendForm() {
				if (this.action == 'update') this.$emit('patch', this.estado);
				else this.$emit('store');
			}
		}

	}

</script>