<template lang="html">
	<tr>
		<td>{{ estado.nome }}</td>
		<td class="ls-txt-right">

			<button class="ls-btn ls-ico-edit-admin"
				v-on:click="$emit('toggle-edit-form', estado, newEstado)">
				Editar</button>

			<button v-bind:class="{'ls-btn-danger ls-ico-remove' : true}"
				v-on:click="$emit('destroy', estado)">
				Remover</button>

		</td>
	</tr>
</template>

<script>

	export default {

		props: ['estado'],

		data() {
			return {
				newEstado: []
			}
		},

		mounted() {
			this.newEstado = this.estado;
		}

	}

</script>