<template lang="html">

	<div v-if="formView">
		<EstadoForm v-on:store="store"
		v-on:toggle-form="toggleForm"
		v-on:patch="patch"
		:estado="estado"
		:errors="errors"
		:action="action"></EstadoForm>
	</div>
	<div v-else>
		<table class="ls-table ls-table-striped ls-bg-header">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<Estado v-for="estado in estados"
						:estado="estado"
						:key="estado.id" 
						v-on:destroy="destroy"
						v-on:toggle-edit-form="toggleEditForm"></Estado>
			</tbody>
			<tfoot>
				<tr>
					<td>{{estados.length}}</td>
					<td class="ls-txt-right">
						<button class="ls-btn-primary ls-ico-user-add"
							v-on:click="toggleForm"
							>Cadastrar novo estado</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</template>

<script>

	import axios from 'axios';
	import EstadoForm from './EstadoForm.vue';
	import Estado from './Estado.vue';

	export default {

		data() {

			return {
				estados: [],
				errors: [],
				estado: {
					nome: ''
				},
				action: false,
				formView: false
			}

		},

		components: { Estado, EstadoForm },

		created() {
			this.index();
		},

		methods: {

			toggleForm() {
				this.estado = {
					nome: ''
				};
				this.action = false;
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			toggleEditForm(estado, newEstado) {
				this.estado = estado;
				this.action = 'update';
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			index() {
				axios.get('http://projeto.agroicone.com.br/webservice/public/api/estados').then(response => {
					this.estados = response.data.estados;
				});
			},

			store() {

		        axios.post('http://projeto.agroicone.com.br/webservice/public/api/estados/', this.estado)
		        	.then(response => {
		            this.estado = {
						nome: ''
					}
		            if (this.errors) {
		              this.errors = [];
		            }
		            this.toggleForm();
		            this.estados.push(response.data.estado);
		            this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
		            
		        })
		        .catch(error => {
					this.errors = error.response.data;
				});
			},

			destroy(estado){
				axios.delete('http://projeto.agroicone.com.br/webservice/public/api/estados/' + estado.id).then(response => {
					let index = this.estados.indexOf(estado);
					this.estados.splice(index, 1);
					this.$notify({
				        message: response.data.message,
				        type: 'danger'
				    });
				});
			},

			patch(newEstado) {
				axios.patch('http://projeto.agroicone.com.br/webservice/public/api/estados/'+this.estado.id, newEstado)
				.then(response => {
        			if (this.errors) {
              			this.errors = [];
            		}
		            let index = this.estados.indexOf(this.estado);
		            this.estados[index] = newEstado;
		            this.estado = {
						nome: ''
					}
					this.toggleForm();
            		this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
          		})
          		.catch(error => {
					this.errors = error.response.data;
				});
			}

		}

	}

</script>