<template lang="html">
	<form v-on:submit.prevent="sendForm" class="form-horizontal" method="POST">
		<h2 class="ls-title" v-if="action == 'update'">Atualizar Bioma</h2>
		<h2 class="ls-title" v-else>Criar novo Bioma</h2>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.nome}">
			<label for="nome"><b class="ls-label-text">Nome</b></label>
			<input id="nome" type="text" class="form-control" v-model="bioma.nome" required autofocus>
			<small class="ls-help-message" v-for="error in errors.nome">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.cenario}">
			<label for="cenario"><b class="ls-label-text">Cenário</b></label>
			<input id="cenario" type="text" class="form-control" v-model="bioma.cenario" required autofocus>
			<small class="ls-help-message" v-for="error in errors.cenario">{{ error }}</small>
		</div>
		<div class="ls-label">
		    <button type="submit" class="ls-btn ls-btn-primary">Salvar</button>
		    <button type="button" class="ls-btn"
				v-on:click.prevent="$emit('toggle-form')"
				>Cancelar</button>
		</div>
	</form>
</template>

<script>

	export default {

		props: ['estado', 'bioma', 'errors', 'action'],

		methods: {
			sendForm() {
				this.bioma.estado_id = this.estado.id;
				if (this.action == 'update') this.$emit('patch', this.bioma);
				else this.$emit('store');
			}
		}

	}

</script>