<template lang="html">

	<div v-if="formView">
		<BiomaForm v-on:store="store"
		v-on:toggle-form="toggleForm"
		v-on:patch="patch"
		v-bind:bioma="bioma"
		v-bind:estado="estado"
		v-bind:errors="errors"
		v-bind:action="action"></BiomaForm>
	</div>
	<div v-else>
		<div class="ls-box-filter">
		  <form v-on:submit.prevent="orderByEstados" class="ls-form ls-form-inline">
		    <label class="ls-label col-xs-12 col-md-6 col-sm-8">
		      <b class="ls-label-text">Estados</b>
		      <div class="ls-custom-select">
		        <select v-model="estado.id" class="ls-select">
		          <option v-for="e in estados" v-bind:value="e.id">{{ e.nome }}</option>
		        </select>
		      </div>
		    </label>
		    <div class="ls-actions-btn">
		      <button type="submit" class="ls-btn-dark ls-ico-eye">Filtrar</button>
		    </div>
		  </form>
		</div>
		
		<table class="ls-table ls-table-striped ls-bg-header">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Cenário</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<Bioma v-for="bioma in biomasOrdered"
						v-bind:bioma="bioma"
						v-bind:key="bioma.id" 
						v-on:destroy="destroy"
						v-on:toggle-edit-form="toggleEditForm"></Bioma>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3" class="ls-txt-center">
						<button class="ls-btn-primary ls-ico-user-add"
							v-on:click="toggleForm"
							>Cadastrar novo Bioma</button>
					</td>
				</tr>
				
			</tfoot>
		</table>
	</div>
</template>

<script>

	import axios from 'axios';
	import BiomaForm from './BiomaForm.vue';
	import Bioma from './Bioma.vue';

	export default {

		data() {

			return {
				biomas: [],
				biomasOrdered: [],
				errors: [],
				bioma: {
					nome: ''
				},
				action: false,
				formView: false,
				estados: [],
				estado: {
					id: 1,
					nome: ''
				}
			}

		},

		components: { Bioma, BiomaForm },

		created() {
			this.indexOfEstados();
			this.index();
		},

		methods: {

			toggleForm() {
				this.bioma = {
					nome: '',
					cenario: ''
				};
				this.action = false;
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			toggleEditForm(bioma, newBioma) {
				this.bioma = bioma;
				this.action = 'update';
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			index() {
				axios.get('http://projeto.agroicone.com.br/webservice/public/api/biomas').then(response => {
					this.biomas = response.data.biomas;
					this.orderByEstados();
				});
			},

			indexOfEstados() {
				axios.get('http://projeto.agroicone.com.br/webservice/public/api/estados').then(response => {
					this.estados = response.data.estados;
				});
			},

			orderByEstados() {
				this.biomasOrdered = this.biomas.filter((el, index, array) => {
					return array[index].estado_id == this.estado.id;
				});
				var estado = this.estados.find((el, index, array) => {
					return array[index].id == this.estado.id;
				});
				this.estado.nome = estado.nome;
				this.$notify({
			        message: this.estado.nome + ' com ' + this.biomasOrdered.length + ' Biomas.'
			    });
			},

			store() {
		        axios.post('http://projeto.agroicone.com.br/webservice/public/api/biomas/', this.bioma)
		        	.then(response => {
		            this.bioma = {
						nome: '',
						cenario: ''
					}
		            if (this.errors) {
		              this.errors = [];
		            }
		            this.toggleForm();
		            this.biomas.push(response.data.bioma);
		            this.orderByEstados();
		            this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
		        })
		        .catch(error => {
					this.errors = error.response.data;
				});
			},

			destroy(bioma){
				axios.delete('http://projeto.agroicone.com.br/webservice/public/api/biomas/' + bioma.id).then(response => {
					let index = this.biomas.indexOf(bioma);
					this.biomas.splice(index, 1);
					this.orderByEstados();
					this.$notify({
				        message: response.data.message,
				        type: 'danger'
				    });
				});
			},

			patch(newBioma) {
				axios.patch('http://projeto.agroicone.com.br/webservice/public/api/biomas/'+this.bioma.id, newBioma)
				.then(response => {
        			if (this.errors) {
              			this.errors = [];
            		}
		            let index = this.biomas.indexOf(this.bioma);
		            this.biomas[index] = newBioma;
		            this.bioma = {
						nome: '',
						cenario: ''
					}
					this.toggleForm();
					this.orderByEstados();
            		this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
          		})
          		.catch(error => {
					this.errors = error.response.data;
				});
			}
		}
	}

</script>