<template lang="html">
	<tr>
		<td><b>{{ bioma.nome }}</b></td>
		<td>{{ bioma.cenario }}</td>
		<td>

			<button class="ls-btn ls-ico-edit-admin"
				v-on:click="$emit('toggle-edit-form', bioma, newBioma)">
				<span class="hidden-xs">Editar</span></button>

			<button v-bind:class="{'ls-btn-danger ls-ico-remove' : true}"
				v-on:click="$emit('destroy', bioma)">
				<span class="hidden-xs">Remover</span></button>

		</td>
	</tr>
</template>

<script>

	export default {

		props: ['bioma'],

		data() {
			return {
				newBioma: []
			}
		},

		mounted() {
			this.newBioma = this.bioma;
		}

	}

</script>