<template lang="html">
	<section class="section" data-anchor="capital-proprio">
		<div class="container">
			<div class="row">
				<div class="section-header col-xs-12">
                    <p class="section-title text-uppercase"><vc-notas :secao="'titulo-output-2'" :formato="'text'"></vc-notas></p>
                </div>
                <div class="col-xs-12 col-md-8" style="position: relative; overflow: hidden;">
                	<p><vc-notas :secao="'titulo-output-1-resultado'" :formato="'text'"></vc-notas> <strong>{{ rentabilidade_atual | currency }}</strong></p>
                    <div class="high-container">
                        <highcharts class="highcharts-wrapper" :options="options" ref="highcharts"></highcharts>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                	<div class="row">
                		<div class="col-xs-12 col-sm-6 col-md-12">
                			<div class="app padding-bottom-20">
                                <div class="checkbox-holder">
                                    <p><strong>APP</strong></p>
                                    <div class="styled-checkbox margin-bottom-5" v-for="(restauro, index) in restauros" v-if="restauro.slug != 'compensacao'">
                                        <input type="checkbox" @change="changeSeriesCapitalProprio" v-model="app" :id="'app' + restauro.slug" :value="restauro.slug" :disabled="app.length >= 2 && app.indexOf(restauro.slug) == -1">
                                        <label :for="'app' + restauro.slug"><span></span>{{ restauro.nome }}</label>
                                    </div>
                                </div>
                            </div>
                		</div>
                		<div class="col-xs-12 col-sm-6 col-md-12">
                			<div class="reserva-legal padding-bottom-15 clearfix">
                                <div class="checkbox-holder">
                                    <p><strong>Reserva Legal</strong></p>
                                    <div class="styled-checkbox margin-bottom-5" v-for="(restauro, index) in restauros">
                                        <input type="checkbox" @change="changeSeriesCapitalProprio" v-model="reserva_legal" :id="'rl' + restauro.slug" :value="restauro.slug" :disabled="reserva_legal.length >= 2 && reserva_legal.indexOf(restauro.slug) == -1">
                                        <label :for="'rl' + restauro.slug"><span></span>{{ restauro.nome }}</label>
                                    </div>
                                </div>
                            </div>
                            <button @click="openModal" class="button-white">Entenda melhor</button>
                            <vc-modal v-show="showModal" @close="closeModal">
                                <div slot="body">
                                    <vc-notas :secao="'descricao-output-2'" :formato="'text'"></vc-notas>
                                </div>
                            </vc-modal>
                		</div>
                	</div>
                </div>
			</div>
		</div>
	</section>
</template>

<script>

    import Modal from '../modal/Modal.vue';
	import Notas from '../notas/Notas.vue';
    
	export default {
		/**
		 * Componentes importados
		 * @type {Object}
		 */
		components: { 
            'vc-modal' : Modal,
			'vc-notas': Notas
		},

        /**
         * Retorna dados computados
         * @type {Object}
         */
        computed: {
            rentabilidade_atual: {
                get() {
                    return this.$store.state.resultados.rentabilidade_atual;            
                }
            },
            regularizacao_barata: {
                get() {
                    return this.$store.state.resultados.regularizacao_barata;            
                }
            },
            capital_proprio: {
                get() {
                    return this.$store.state.resultados.retorno_regularizacao_capital_proprio;            
                }
            },
            restauros: {
                get() {
                    return this.$store.state.resultados.restauros;            
                }
            },
            resultados: {
                get() {
                    return this.$store.state.resultados;            
                }
            },
            generatePDF: {
                get() {
                    return this.$store.state.generatePDF;
                }
            },
            highchartsThemeExport: {
                get() {
                    return this.$store.state.highchartsThemeExport;
                }
            },
            graficoCapitalProprio: {
                get() {
                    return this.$store.state.graficoCapitalProprio;            
                },
                set(payload) {
                    this.$store.dispatch('updateGraficoCapitalProprio', payload)
                }
            },
        },

        data() {
            return {
                showModal: false,
                app: [],
                reserva_legal: [],
                seriesCapitalProprio: [],
                optionsToExport: '',
                options: {
                    chart: {
                        type: 'column'
                    },
                    xAxis: {
                        categories: [
                            'Rentabilidade Média da Atividade (20 Anos)'
                        ]  
                    },
                    series: [{
                        name: ['APP + RL'],
                        data: [0]
                    }],
                    exporting: {
                        width: 700
                    }
                } // Highcharts
            }
        },

        watch: {
            // Ao receber os resultados exibi no gráfico a forma de restauro mais barata.
            resultados(values) {
                this.app = [];
                this.reserva_legal = [];
            },
            regularizacao_barata(values) {
                if (values.length > 1) {
                    this.app = [];
                    this.reserva_legal = [];
                    this.app.push(values.APP.slug);
                    this.reserva_legal.push(values.RL.slug);
                    this.changeToMaisBarato(values);
                }
            },
            seriesCapitalProprio(values) {
                var chart = this.$refs.highcharts.chart;
                for (var i = chart.series.length-1; i>=0; i--) {
                    chart.series[i].remove();
                }
                values.forEach( function(element, index) {
                    chart.addSeries(element);
                }, chart);
                var $this = this;
                // setTimeout(function(){
                //     $this.getPNGGraphic();
                // }, 500);
            },

            generatePDF(values) {
                if(!isNaN(values)) this.getPNGGraphic();
            }
        },

        mounted() {
            var $this = this;
            this.optionsToExport = this.highchartsThemeExport;
            setTimeout(function(){
                var chart = $this.$refs.highcharts.chart;
                $this.app.push($this.regularizacao_barata.APP.slug);
                $this.reserva_legal.push($this.regularizacao_barata.RL.slug);
                $('.highcharts-wrapper').css({
                    'max-width': '100%'
                });
                chart.reflow();
                $this.changeSeriesCapitalProprio();
            }, 3000);
        },

        methods: {
            changeSeriesCapitalProprio() {
                let sizeApp = this.app.length,
                    sizeRl = this.reserva_legal.length;
                this.seriesCapitalProprio = [];
                if (sizeApp >= 1 && sizeRl >= 1) {
                    // Loop App
                    for (var indexAPP = 0; indexAPP < sizeApp; indexAPP++) {
                        // Loop RL
                        for (var indexRL = 0; indexRL < sizeRl; indexRL++) {
                            // Loop Retornos de Capital Próprio
                            for (var endIndex = 0; endIndex < this.capital_proprio.length; endIndex++) {
                                var element = this.capital_proprio[endIndex];
                                // Pega os valores da APP e RL selecionada
                                if (element.APP.slug == this.app[indexAPP] && element.RL.slug == this.reserva_legal[indexRL]) {
                                    this.seriesCapitalProprio.push({
                                        name: 'APP: ' + element.APP.nome + ' + RL: ' + element.RL.nome,
                                        data: [Number(element.pgto_hectare.toFixed(2))] 
                                    });
                                }
                            }   
                        }
                    }
                } else {
                    this.seriesCapitalProprio = [];
                }
            },
            changeToMaisBarato(values) {
                // Zera o gráfico
                let sizeApp = this.app.length,
                    sizeRl = this.reserva_legal.length;
                if (sizeApp >= 1 && sizeRl >= 1) {
                    var chart = this.$refs.highcharts.chart;
                    for (var i = chart.series.length-1; i>=0; i--) {
                        chart.series[i].remove();
                    }
                    // ./Zera o gráfico
                    for (var index = 0; index < this.capital_proprio.length; index++) {
                        var element = this.capital_proprio[index];
                        // Pega os valores da APP e RL selecionada
                        if (element.APP.slug == this.app[0] && element.RL.slug == this.reserva_legal[0]) {
                            chart.addSeries({
                                name: 'APP: ' + element.APP.nome + ' + RL: ' + element.RL.nome,
                                data: [Number(element.pgto_hectare.toFixed(2))] 
                            });
                        }
                    }
                }
            },
            getPNGGraphic() {
                var globaloptions = {
                        lang: {
                            decimalPoint: ',',
                            thousandsSep: '.'
                        }
                    },
                    $this = this,
                    exportURL = 'http://export.highcharts.com/';

                    this.optionsToExport.xAxis.categories = ['Rentabilidade Média da Atividade (20 Anos)'];
                    this.optionsToExport.series = this.seriesCapitalProprio;

                axios.post(exportURL, {
                    options: JSON.stringify(this.optionsToExport),
                    filename: 'capital-proprio',
                    type: 'image/png',
                    async: true,
                    globaloptions: JSON.stringify(globaloptions)
                }).then(response => {
                    // create image exported
                    var image = new Image(),
                        dataURL;
                    image.crossOrigin = 'anonymous';
                    image.src = exportURL + response.data;
                    image.onload = function () {
                        // create canvas
                        var canvas = document.createElement('canvas');
                        var ctx = canvas.getContext('2d');
                        canvas.height = this.naturalHeight;
                        canvas.width = this.naturalWidth;
                        ctx.drawImage(this, 0, 0);
                        dataURL = canvas.toDataURL('image/png', 1.0);
                        $this.graficoCapitalProprio = dataURL;
                    }
                })
                .catch(error => {
                    this.$notify({
                        message: 'Erro na requisição do Export Highcharts: ' + error,
                        type: 'danger'
                    });
                });
            },
            openModal() {
                this.showModal = true;
                $.fn.fullpage.setAllowScrolling(false);
                $.fn.fullpage.setKeyboardScrolling(false);
            },
            closeModal() {
                this.showModal = false;
                $.fn.fullpage.setAllowScrolling(true);
                $.fn.fullpage.setKeyboardScrolling(true);
            }
        }
	}
</script>