<template lang="html">

	<form v-on:submit.prevent="sendForm" class="form-horizontal" method="POST">
		<h2 class="ls-title" v-if="action == 'update'">Atualizar Custo Padrão</h2>
		<h2 class="ls-title" v-else>Criar novo Custo Padrão</h2>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.estado}">
			<label for="estado"><b class="ls-label-text">Estado</b></label>
			<input id="estado" type="text" class="form-control" v-model="custoPadrao.estado" required autofocus>
			<small class="ls-help-message" v-for="error in errors.estado">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.praca}">
			<label for="praca"><b class="ls-label-text">Praça</b></label>
			<input id="praca" type="text" class="form-control" v-model="custoPadrao.praca" required autofocus>
			<small class="ls-help-message" v-for="error in errors.praca">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.cultura}">
			<label for="cultura"><b class="ls-label-text">Cultura</b></label>
			<input id="cultura" type="text" class="form-control" v-model="custoPadrao.cultura" required autofocus>
			<small class="ls-help-message" v-for="error in errors.cultura">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.parametro}">
			<label for="parametro"><b class="ls-label-text">Parâmetro</b></label>
			<input id="parametro" type="text" class="form-control" v-model="custoPadrao.parametro" required autofocus>
			<small class="ls-help-message" v-for="error in errors.parametro">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.valor}">
			<label for="valor"><b class="ls-label-text">Valor</b></label>
			<input id="valor" type="text" class="form-control" v-model="custoPadrao.valor" required autofocus>
			<small class="ls-help-message" v-for="error in errors.valor">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.fonte}">
			<label for="fonte"><b class="ls-label-text">Fonte</b></label>
			<input id="fonte" type="text" class="form-control" v-model="custoPadrao.fonte" required autofocus>
			<small class="ls-help-message" v-for="error in errors.fonte">{{ error }}</small>
		</div>
		<div class="ls-label">
			<button type="submit" class="ls-btn ls-btn-primary">Salvar</button>
			<button type="button" class="ls-btn"
				v-on:click.prevent="$emit('toggle-form')"
				>Cancelar</button>
		</div>
	</form>
</template>

<script>

	export default {

		props: ['custoPadrao', 'errors', 'action'],

		methods: {
			sendForm() {
				if (this.action == 'update') this.$emit('patch', this.custoPadrao);
				else this.$emit('store');
			}
		}

	}

</script>