<template lang="html">

	<div v-if="formView">
		<CustoPadraoForm v-on:store="store"
		v-on:toggle-form="toggleForm"
		v-on:patch="patch"
		:custoPadrao="custoPadrao"
		:errors="errors"
		:action="action"></CustoPadraoForm>
	</div>
	<div v-else>
		<table class="ls-table ls-table-striped ls-bg-header">
			<thead>
				<tr>
					<th>Estado</th>
					<th>Praça</th>
					<th>Cultura</th>
					<th>Fonte</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<CustoPadrao v-for="custoPadrao in custosPadrao"
						:custoPadrao="custoPadrao"
						:key="custoPadrao.id" 
						v-on:destroy="destroy"
						v-on:toggle-edit-form="toggleEditForm"></CustoPadrao>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5" class="ls-txt-center">
						<button class="ls-btn-primary ls-ico-user-add"
							v-on:click="toggleForm"
							>Cadastrar novo Custo Padrão</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</template>

<script>

	import axios from 'axios';
	import CustoPadraoForm from './CustoPadraoForm.vue';
	import CustoPadrao from './CustoPadrao.vue';

	export default {

		data() {

			return {
				custosPadrao: [],
				errors: [],
				custoPadrao: {
					nome: ''
				},
				action: false,
				formView: false
			}

		},

		components: { CustoPadrao, CustoPadraoForm },

		created() {
			this.index();
		},

		methods: {

			toggleForm() {
				this.custoPadrao = {
					estado: '',
					praca: '',
					cultura: '',
					parametro: '',
					valor: '',
					fonte: ''
				};
				this.action = false;
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			toggleEditForm(custoPadrao, newCustoPadrao) {
				this.custoPadrao = custoPadrao;
				this.action = 'update';
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			index() {
				axios.get('http://projeto.agroicone.com.br/webservice/public/api/custos-padrao/').then(response => {
					this.custosPadrao = response.data.custosPadrao;
				});
			},

			store() {

		        axios.post('http://projeto.agroicone.com.br/webservice/public/api/custos-padrao/', this.custoPadrao)
		        	.then(response => {
		            this.custoPadrao = {
						estado: '',
						praca: '',
						cultura: '',
						parametro: '',
						valor: '',
						fonte: ''
					}
		            if (this.errors) {
		              this.errors = [];
		            }
		            this.toggleForm();
		            this.custosPadrao.push(response.data.custoPadrao);
		            this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
		        })
		        .catch(error => {
					this.errors = error.response.data;
				});
			},

			destroy(custoPadrao){
				axios.delete('http://projeto.agroicone.com.br/webservice/public/api/custos-padrao/' + custoPadrao.id).then(response => {
					let index = this.custosPadrao.indexOf(custoPadrao);
					this.custosPadrao.splice(index, 1);
					this.$notify({
				        message: response.data.message,
				        type: 'danger'
				    });
				});
			},

			patch(newCustoPadrao) {
				axios.patch('http://projeto.agroicone.com.br/webservice/public/api/custos-padrao/'+this.custoPadrao.id, newCustoPadrao)
				.then(response => {
        			if (this.errors) {
              			this.errors = [];
            		}
		            let index = this.custosPadrao.indexOf(this.custoPadrao);
		            this.custosPadrao[index] = newCustoPadrao;
		            this.custoPadrao = {
						estado: '',
						praca: '',
						cultura: '',
						parametro: '',
						valor: '',
						fonte: ''
					}
					this.toggleForm();
            		this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
          		})
          		.catch(error => {
					this.errors = error.response.data;
				});
			}

		}

	}

</script>