<template lang="html">
	<tr>
		<td>{{ custoPadrao.estado }}</td>
		<td>{{ custoPadrao.praca }}</td>
		<td>{{ custoPadrao.cultura }}</td>
		<td>{{ custoPadrao.fonte }}</td>
		<td class="ls-txt-right">
			<button class="ls-btn ls-ico-edit-admin"
				v-on:click="$emit('toggle-edit-form', custoPadrao, newCustoPadrao)">
				Editar</button>
			<button v-bind:class="{'ls-btn-danger ls-ico-remove' : true}"
				v-on:click="$emit('destroy', custoPadrao)">
				Remover</button>

		</td>
	</tr>
</template>

<script>

	export default {

		props: ['custoPadrao'],

		data() {
			return {
				newCustoPadrao: []
			}
		},

		mounted() {
			this.newCustoPadrao = this.custoPadrao;
		}

	}

</script>