<template lang="html">

	<div v-if="formView">
		<TaxaNacionalForm v-on:store="store"
		v-on:toggle-form="toggleForm"
		v-on:patch="patch"
		:taxaNacional="taxaNacional"
		:errors="errors"
		:action="action"></TaxaNacionalForm>
	</div>
	<div v-else>
		<table class="ls-table ls-table-striped ls-bg-header">
			<thead>
				<tr>
					<th>Juros Selic</th>
					<th>Imposto de Renda</th>
					<th>Taxa Adm</th>
					<th>Inflação</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<TaxaNacional v-for="taxaNacional in taxasNacionais"
						:taxaNacional="taxaNacional"
						:key="taxaNacional.id" 
						v-on:destroy="destroy"
						v-on:toggle-edit-form="toggleEditForm"></TaxaNacional>
			</tbody>
		</table>
	</div>
</template>

<script>

	import axios from 'axios';
	import TaxaNacionalForm from './TaxaNacionalForm.vue';
	import TaxaNacional from './TaxaNacional.vue';

	export default {

		data() {

			return {
				taxasNacionais: [],
				errors: [],
				taxaNacional: {
					nome: ''
				},
				action: false,
				formView: false
			}

		},

		components: { TaxaNacional, TaxaNacionalForm },

		created() {
			this.index();
		},

		methods: {

			toggleForm() {
				this.taxaNacional = {
					nome: ''
				};
				this.action = false;
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			toggleEditForm(taxaNacional, newTaxaNacional) {
				this.taxaNacional = taxaNacional;
				this.action = 'update';
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			index() {
				axios.get('http://projeto.agroicone.com.br/webservice/public/api/taxas-nacionais').then(response => {
					this.taxasNacionais = response.data.taxasNacionais;
				});
			},

			store() {

		        axios.post('http://projeto.agroicone.com.br/webservice/public/api/taxas-nacionais/', this.taxaNacional)
		        	.then(response => {
		            this.taxaNacional = {
						nome: ''
					}
		            if (this.errors) {
		              this.errors = [];
		            }
		            this.toggleForm();
		            this.taxasNacionais.push(response.data.taxaNacional);
		            this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
		        })
		        .catch(error => {
					this.errors = error.response.data;
				});
			},

			destroy(taxaNacional){
				axios.delete('http://projeto.agroicone.com.br/webservice/public/api/taxas-nacionais/' + taxaNacional.id).then(response => {
					let index = this.taxasNacionais.indexOf(taxaNacional);
					this.taxasNacionais.splice(index, 1);
					this.$notify({
				        message: response.data.message,
				        type: 'danger'
				    });
				});
			},

			patch(newTaxaNacional) {
				axios.patch('http://projeto.agroicone.com.br/webservice/public/api/taxas-nacionais/'+this.taxaNacional.id, newTaxaNacional)
				.then(response => {
        			if (this.errors) {
              			this.errors = [];
            		}
		            let index = this.taxasNacionais.indexOf(this.taxaNacional);
		            this.taxasNacionais[index] = newTaxaNacional;
		            this.taxaNacional = {
						nome: ''
					}
					this.toggleForm();
            		this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
          		})
          		.catch(error => {
					this.errors = error.response.data;
				});
			}

		}

	}

</script>