<template lang="html">

	<form v-on:submit.prevent="sendForm" class="form-horizontal" method="POST">
		<h2 class="ls-title" v-if="action == 'update'">Atualizar Taxas Nacionais</h2>
		<h2 class="ls-title" v-else>Criar nova Taxas Nacionais</h2>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.juros_selic}">
			<label for="juros_selic"><b class="ls-label-text">Juros Selic</b></label>
			<input id="juros_selic" type="text" class="form-control" v-model="taxaNacional.juros_selic" required autofocus>
			<small class="ls-help-message" v-for="error in errors.juros_selic">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.imposto_renda}">
			<label for="imposto_renda"><b class="ls-label-text">Imposto de Renda</b></label>
			<input id="imposto_renda" type="text" class="form-control" v-model="taxaNacional.imposto_renda" required autofocus>
			<small class="ls-help-message" v-for="error in errors.imposto_renda">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.taxa_adm}">
			<label for="taxa_adm"><b class="ls-label-text">Taxa Adm</b></label>
			<input id="taxa_adm" type="text" class="form-control" v-model="taxaNacional.taxa_adm" required autofocus>
			<small class="ls-help-message" v-for="error in errors.taxa_adm">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.inflacao}">
			<label for="inflacao"><b class="ls-label-text">Inflação</b></label>
			<input id="inflacao" type="text" class="form-control" v-model="taxaNacional.inflacao" required autofocus>
			<small class="ls-help-message" v-for="error in errors.inflacao">{{ error }}</small>
		</div>

		<div class="ls-label">
			<button type="submit" class="ls-btn ls-btn-primary">Salvar</button>
			<button type="button" class="ls-btn"
				v-on:click.prevent="$emit('toggle-form')"
				>Cancelar</button>
		</div>
	</form>
</template>

<script>

	export default {

		props: ['taxaNacional', 'errors', 'action'],

		methods: {
			sendForm() {
				if (this.action == 'update') this.$emit('patch', this.taxaNacional);
				else this.$emit('store');
			}
		}

	}

</script>