<template lang="html">
	<tr>
		<td>{{ taxaNacional.juros_selic }}%</td>
		<td>{{ taxaNacional.imposto_renda }}%</td>
		<td>{{ taxaNacional.taxa_adm }}%</td>
		<td>{{ taxaNacional.inflacao }}%</td>
		<td class="ls-txt-right">

			<button class="ls-btn ls-ico-edit-admin"
				v-on:click="$emit('toggle-edit-form', taxaNacional, newTaxaNacional)">
				Editar</button>
		</td>
	</tr>
</template>

<script>

	export default {

		props: ['taxaNacional'],

		data() {
			return {
				newTaxaNacional: []
			}
		},

		mounted() {
			this.newTaxaNacional = this.taxaNacional;
		}

	}

</script>