<template lang="html">

<section class="section section-pause" data-anchor="custos-financeiros">
	<div class="container">
		<div class="section-header">
            <p class="section-title text-uppercase"><vc-notas :secao="'titulo-input-5'" :formato="'text'"></p>
        </div>
        <div class="form-item">
			<p class="label">Juros totais pago no ano (financiamento/custeio) (R$)</p>
			<vue-numeric separator="." :precision="2" v-model="juros_financiamento"></vue-numeric>
			<vc-notas :secao="'juros_financiamento'">
		</div>
		<div class="form-item">
			<p class="label">Tributos totais pago no ano (R$)</p>
			<vue-numeric separator="." :precision="2" v-model="tributo_itr_csr_funrural"></vue-numeric>
			<vc-notas :secao="'tributo_itr_csr_funrural'">
		</div>
		<div class="form-item">
			<div @click="calcular" class="button text-center vertical-text">Calcular</div>
		</div>
	</div>
	<notifications></notifications>
</section>

</template>

<script>

	import Notas from '../notas/Notas.vue';

	export default {
		/**
		 * Componentes importados
		 * @type {Object}
		 */
		components: { 'vc-notas': Notas },
		
		computed: {
			atividade: {
				get() {
					return this.$store.state.premissas_regularizacao.atividade
				}
			},
			juros_financiamento: {
				get() {
					return this.$store.state.custos_financeiros.juros_financiamento
				},
				set (payload) {
					this.$store.dispatch('updateJurosFinanciamento', payload)
				}
			},
			tributo_itr_csr_funrural: {
				get() {
					return this.$store.state.custos_financeiros.tributo_itr_csr_funrural
				},
				set (payload) {
					this.$store.dispatch('updateTributoItrCsrFunrural', payload)
				}
			},
			state: {
				get() {
					return this.$store.state
				}
			},
			producao_atual: {
				get() {
					return this.$store.state.uso_atual_area_regularizacao.producao_atual
				},
				set (payload) {
					this.$store.dispatch('updateProducaoAtual', payload)
				}
			},
			cultura: {
				get() {
					return this.$store.state.segunda_safra.cultura
				},
				set (payload) {
					this.$store.dispatch('updateSegundaSafraCultura', payload)
				}
			},
			resultados: {
				get() {
					return this.$store.state.resultados
				},
				set (payload) {
					this.$store.dispatch('updateResultados', payload)
				}
			},
			showCalculando: {
				get() {
					return this.$store.state.showCalculando
				},
				set (payload) {
					this.$store.dispatch('updateShowCalculando', payload)
				}
			},
			showResultados: {
			  get() {
			    return this.$store.state.showResultados
			  },
			  set (payload) {
			    this.$store.dispatch('updateShowResultados', payload)
			  }
			},
			fullpageOptions: {
				get() {
					return this.$store.state.fullpageOptions;
				},
				set() {}
			}
		},

		methods: {
			calcular() {
				this.showResultados = false;
				this.state.app = '';
				this.state.reserva_legal = '';
				$.fn.fullpage.setAllowScrolling(true);
				let $fullpage = $("#fullpage"),
					$sections = $("#fullpage .section");
				$sections.addClass('opacity');
				$fullpage.fullpage.destroy('all');
				// Mostra a Seção de Calculando
				this.showCalculando = true;
				if (this.atividade == 4 || this.atividade == 2) {
					this.cultura = 0;
				}
				// Inicia o FullPage
				let $this = this;
				setTimeout(function(){ $fullpage.fullpage($this.fullpageOptions); }, 700);
				let toSection = 6;
				if (this.atividade == 4 || this.atividade == 2) toSection = 5;
				setTimeout(function(){ $.fn.fullpage.moveTo(toSection); }, 1000);
				// Faz a chamada
				axios.post('calculate', {
			    	premissas_regularizacao: this.state.premissas_regularizacao,
			    	dados_propriedade: this.state.dados_propriedade,
			    	uso_atual_area_regularizacao: this.state.uso_atual_area_regularizacao,
			    	segunda_safra: this.state.segunda_safra,
			    	custos_financeiros: this.state.custos_financeiros
			    })
			    .then(response => {
			    	let $this = this;
			    	// Exibi as seções novamente
			    	setTimeout(function(){ $sections.removeClass('opacity'); }, 500);
			    	// Simula o calculando por 10 segundos
					setTimeout(function() {
						$sections.addClass('opacity');
						$this.showCalculando = false;
						$this.showResultados = true;
						// Remove a tela claculando e mostra as telas de resultados
						$fullpage.fullpage.destroy('all');
						let toSection = 6;
						if ($this.atividade == 4 || $this.atividade == 2) toSection = 5;
						setTimeout(function(){ $fullpage.fullpage($this.fullpageOptions); }, 700);
						setTimeout(function(){ $.fn.fullpage.moveTo(toSection); }, 1000);
						setTimeout(function(){ $sections.removeClass('opacity'); }, 1500);
					}, 5000);
					this.resultados = response.data;
				})
				.catch(error => {
					// Remove a tela Calculando
					$fullpage.fullpage.destroy('all');
					this.showCalculando = false;
					// Imprime as mensagens de erro
					let errors = error.response.data.erros;
					errors.forEach(function(element, index) {
						let $this = this;
						setTimeout(function(){
							$this.$notify({
						        message: element,
						        type: 'danger',
						        timeout: 20000
						    });
						}, 500);
					}, this);
					// Reinicia o processo
					let $this = this;
					setTimeout(function(){ $fullpage.fullpage($this.fullpageOptions); }, 700);
					let toSection = 5;
					if ($this.atividade == 4 || $this.atividade == 2) toSection = 4;
					setTimeout(function(){ $.fn.fullpage.moveTo(toSection); }, 1000);
					setTimeout(function(){ $sections.removeClass('opacity'); }, 1500);
				});
			}
		}
	}

</script>