<style lang="stylus">
.vue-typer .custom.char
	color #fff
	background-color transparent
.vue-typer .custom.char.selected
	background-color #fff

.vue-typer .custom.caret
	width 2px
	margin-left 2px
	color #fff
	background-color #fff
</style>

<template lang="html">
	<div class="section section-loading section-pause" data-anchor="calculando">
		<div class="container">
			<p class="loading-text text-uppercase">
			<vc-typer
			  :text='["Calculando os resultados..."]'
			  :repeat='Infinity'
			  :shuffle='true'
			  initial-action='typing'
			  :pre-type-delay='100'
			  :type-delay='100'
			  :pre-erase-delay='2000'
			  :erase-delay='250'
			  erase-style='clear'
			  :erase-on-complete='false'
			  caret-animation='blink'
			></vc-typer>
			</p>
		</div>
	</div>
</template>

<script>

	import { VueTyper } from 'vue-typer'

	export default {
		components: {
			'vc-typer' : VueTyper
		}
	}

</script>