.ls-main
	height auto

.ls-table td, .ls-table th
	font-size rem(12px)

+below(768px)
	[class*="ls-btn"]+.ls-dropdown, [class*="ls-btn"]+[class*="ls-btn"]
		margin-left 0
		margin-bottom 5px
		
.ls-menu a
	width 100%