<template lang="html">

	<div v-if="formView">
		<NotaForm v-on:store="store"
		v-on:toggle-form="toggleForm"
		v-on:patch="patch"
		:Nota="Nota"
		:errors="errors"
		:action="action"></NotaForm>
	</div>
	<div v-else>
		<table class="ls-table ls-table-striped ls-bg-header">
			<thead>
				<tr>
					<th>Seção</th>
					<th>Descrição</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<Nota v-for="Nota in Notas"
						:Nota="Nota"
						:key="Nota.id"
						v-on:destroy="destroy"
						v-on:toggle-edit-form="toggleEditForm"></Nota>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3" class="ls-txt-center">
						<button class="ls-btn-primary ls-ico-user-add"
							v-on:click="toggleForm"
							>Cadastrar nova Nota</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</template>

<script>

	import axios from 'axios';
	import NotaForm from './NotaForm.vue';
	import Nota from './Nota.vue';

	export default {

		data() {

			return {
				Notas: [],
				errors: [],
				Nota: {
					nome: ''
				},
				action: false,
				formView: false
			}

		},

		components: { Nota, NotaForm },

		created() {
			this.index();
		},

		methods: {

			toggleForm() {
				this.Nota = {
					nome: ''
				};
				this.action = false;
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			toggleEditForm(Nota, newNota) {
				this.Nota = Nota;
				this.action = 'update';
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			index() {
				axios.get('http://projeto.agroicone.com.br/webservice/public/api/notas').then(response => {
					this.Notas = response.data.notas;
				});
			},

			store() {

		        axios.post('http://projeto.agroicone.com.br/webservice/public/api/notas/', this.Nota)
		        	.then(response => {
		            this.Nota = {
						nome: ''
					}
		            if (this.errors) {
		              this.errors = [];
		            }
		            this.toggleForm();
		            this.Notas.push(response.data.nota);
		            this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
		        })
		        .catch(error => {
					this.errors = error.response.data;
				});
			},

			destroy(Nota){
				axios.delete('http://projeto.agroicone.com.br/webservice/public/api/notas/' + Nota.id).then(response => {
					let index = this.Notas.indexOf(Nota);
					this.Notas.splice(index, 1);
					this.$notify({
				        message: response.data.message,
				        type: 'danger'
				    });
				});
			},

			patch(newNota) {
				axios.patch('http://projeto.agroicone.com.br/webservice/public/api/notas/'+this.Nota.id, newNota)
				.then(response => {
        			if (this.errors) {
              			this.errors = [];
            		}
		            let index = this.Notas.indexOf(this.Nota);
		            this.Notas[index] = newNota;
		            this.Nota = {
						nome: ''
					}
					this.toggleForm();
            		this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
          		})
          		.catch(error => {
					this.errors = error.response.data;
				});
			}

		}

	}

</script>