<template lang="html">

	<form v-on:submit.prevent="sendForm" class="form-horizontal" method="POST">
		<h2 class="ls-title" v-if="action == 'update'">Atualizar Nota</h2>
		<h2 class="ls-title" v-else>Criar nova Nota</h2>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.secao}">
			<label for="secao"><b class="ls-label-text">Seção</b></label>
			<input id="secao" type="text" class="form-control" v-model="Nota.secao" required autofocus>
			<small class="ls-help-message" v-for="error in errors.secao">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.descricao}">
			<label for="descricao"><b class="ls-label-text">Descrição</b></label>
			<textarea id="descricao" type="text" class="form-control" v-model="Nota.descricao" required autofocus></textarea>
			<small class="ls-help-message" v-for="error in errors.descricao">{{ error }}</small>
		</div>
		<div class="ls-label">
			<button type="submit" class="ls-btn ls-btn-primary">Salvar</button>
			<button type="button" class="ls-btn"
				v-on:click.prevent="$emit('toggle-form')"
				>Cancelar</button>
		</div>
	</form>
</template>

<script>

	export default {

		props: ['Nota', 'errors', 'action'],

		methods: {
			sendForm() {
				if (this.action == 'update') this.$emit('patch', this.Nota);
				else this.$emit('store');
			}
		}

	}

</script>