<template lang="html">
	<tr>
		<td>{{ Nota.secao }}</td>
		<td>{{ Nota.descricao }}</td>
		<td class="ls-txt-right">
			<button class="ls-btn ls-ico-edit-admin"
				v-on:click="$emit('toggle-edit-form', Nota, newNota)">
				Editar</button>
			<button v-bind:class="{'ls-btn-danger ls-ico-remove' : true}"
				v-on:click="$emit('destroy', Nota)">
				<span class="hidden-xs">Remover</span></button>
		</td>
	</tr>
</template>

<script>

	export default {

		props: ['Nota'],

		data() {
			return {
				newNota: []
			}
		},

		mounted() {
			this.newNota = this.Nota;
		}

	}

</script>