<template lang="html">
	<div class="homepage">
	    <header class="home-header">
	        <div class="logo">
	            <a href="#"><img src="~@/assets/img/logo.png" alt="Agroicone" width="200" /></a>
	        </div>
	    </header>
        <section class="content center">
            <div class="home-headline">
                <h1 class="title text-uppercase">Projeto de Regularização Ambiental de Propriedades Rurais</h1>
                <p>Para acessar a plataforma é necessário efetuar login.</p>
	            <form class="row middle-xs center-xs" v-on:submit.prevent="login">
	             	<div class="col-xs-12">
	             		<label class="label" for="email">Digite seu e-mail:</label>
	             	</div>
	            	<div class="col-xs-12 margin-bottom-20">
						<input type="email" v-model="email" required>
	            	</div>
	            	<div class="col-xs-12">
	            		<label class="label" for="email">Digite sua senha:</label>
	            	</div>
					<div class="col-xs-12 margin-bottom-20">
						<input type="password" v-model="password" required>
					</div>
		            <div class="col-xs-12">
		            	<button type="submit" class="button soft-transition">ACESSAR</button>
		            </div>
				</form>
            </div>
        </section>
        <notifications></notifications>
    </div>
</template>

<script>
	import ServiceAuth from '../../services/auth';

	export default {
		data() {
			return {
				email: '',
				password: ''
			}
		},

		beforeCreate: function () {
		    if (this.$session.has('auth') && this.$session.get('auth') == '4') this.$router.push({name: 'home'});
		},

		methods: {
			login() {
				ServiceAuth.auth(this.email, this.password)
				.then(response => {
					if (response.status == 200 && response.data.status == '4') {
						this.$session.start()
						this.$session.set('auth','4');
						this.$router.push({name: 'home'});
						this.$notify({
							message: 'Login bem sucedido.',
					        type: 'success'
						});
					} else {
						this.$notify({
							message: 'Login mau sucedido.',
					        type: 'warning'
						});
					}
				})
				.catch(error => {
					this.$notify({
						message: 'Login mau sucedido: ' + error.response.data.status,
				        type: 'danger'
					});
				});
			}
		}
	}

</script>