<template lang="html">
  <div class="calculator">
    <vc-navigation></vc-navigation>
    <div id="fullpage">
      <vc-premissas-regularizacao></vc-premissas-regularizacao>
      <vc-dados-propriedade></vc-dados-propriedade>
      <vc-uso-atual-area-regularizacao></vc-uso-atual-area-regularizacao>
      <vc-segunda-safra v-if="showSegundaSafra"></vc-segunda-safra>
      <vc-custos-financeiros></vc-custos-financeiros>
      <vc-calculando v-if="showCalculando"></vc-calculando>
      <vc-rentabilidade-atual v-if="showResultados"></vc-rentabilidade-atual>
      <vc-capital-proprio v-if="showResultados"></vc-capital-proprio>
      <vc-infos-linhas-financiamento v-if="showResultados"></vc-infos-linhas-financiamento>
      <vc-regularizacao-20-anos v-if="showResultados"></vc-regularizacao-20-anos>
      <vc-fluxo-de-caixa v-if="showResultados"></vc-fluxo-de-caixa>
      <vc-baixar-projeto v-if="showResultados"></vc-baixar-projeto>
    </div>
  </div>
</template>

<script>
// plugins
import 'flexboxgrid/dist/flexboxgrid.min.css'
import 'vue-notifyjs/themes/material.css'
import '../assets/styles/app.styl'
import 'fullpage.js'

// components
import ProjectPdf from './template-parts/ProjectPdf.vue'
import Navigation from './template-parts/Navigation.vue'
import PremissasRegularizacao from './premissas-regularizacao/PremissasRegularizacao.vue'
import DadosPropriedade from './dados-propriedade/DadosPropriedade.vue'
import UsoAtualAreaRegularizacao from './uso-atual-area-regularizacao/UsoAtualAreaRegularizacao.vue'
import SegundaSafra from './segunda-safra/SegundaSafra.vue'
import CustosFinanceiros from './custos-financeiros/CustosFinanceiros.vue'
import Calculando from './calculando/Calculando.vue'
import Rentabilidade from './rentabilidade-atual/Rentabilidade.vue'
import CapitalProprio from './capital-proprio/CapitalProprio.vue'
import InfosLinhasFinanciamento from './infos-linhas-financiamento/InfosLinhasFinanciamento.vue'
import Regularizacao20Anos from './regularizacao-20-anos/Regularizacao20Anos.vue'
import FluxoDeCaixa from './fluxo-de-caixa/FluxoDeCaixa.vue'
import BaixarProjeto from './baixar-projeto/BaixarProjeto.vue'

export default {

  name: 'app',

  components: {
    'vc-project-pdf' : ProjectPdf,
    'vc-navigation' : Navigation,
    'vc-premissas-regularizacao' : PremissasRegularizacao,
    'vc-dados-propriedade' : DadosPropriedade,
    'vc-uso-atual-area-regularizacao' : UsoAtualAreaRegularizacao,
    'vc-segunda-safra' : SegundaSafra,
    'vc-custos-financeiros' : CustosFinanceiros,
    'vc-calculando' : Calculando,
    'vc-rentabilidade-atual' : Rentabilidade,
    'vc-capital-proprio' : CapitalProprio,
    'vc-infos-linhas-financiamento' : InfosLinhasFinanciamento,
    'vc-regularizacao-20-anos' : Regularizacao20Anos,
    'vc-fluxo-de-caixa' : FluxoDeCaixa,
    'vc-baixar-projeto' : BaixarProjeto
  },

  data() {
    return {
      showSegundaSafra: true
    }
  },

  beforeCreate: function () {
    if (!this.$session.has('auth') && this.$session.get('auth') != '4') this.$router.push('/login');
  },

  mounted() {
    var $fullpage = $('#fullpage');
    $fullpage.fullpage(this.fullpageOptions);
  },

  computed: {
    atividade: {
      get() {
        return this.$store.state.premissas_regularizacao.atividade
      }
    },
    resultados: {
      get() {
          return this.$store.state.resultados;            
      }
    },
    showCalculando: {
      get() {
        return this.$store.state.showCalculando
      },
      set (payload) {
        this.$store.dispatch('updateShowCalculando', payload)
      }
    },
    showResultados: {
      get() {
        return this.$store.state.showResultados
      },
      set (payload) {
        this.$store.dispatch('updateShowResultados', payload)
      }
    },
    fullpageOptions: {
      get() {
        return this.$store.state.fullpageOptions;
      },
      set() {}
    }
  },

  watch: {
    atividade(values) {
      var $fullpage = $('#fullpage'),
          $this = this;
      $fullpage.fullpage.destroy('all');
      if (values > 0) {
        if (values == 4 || values == 2) this.showSegundaSafra = false;
        else this.showSegundaSafra = true;
      }
      setTimeout(function(){ $fullpage.fullpage($this.fullpageOptions); }, 700);
    }
  }
}
</script>
