<template lang="html">
	<div id="app">
		<router-view></router-view>
		<notifications></notifications>
	</div>
</template>

<script>
	// services
	import ServiceNotas from '../services/notas';

	export default {
		name: 'app',

		beforeCreate() {
			ServiceNotas.get().then(response => {
				let payload = response.data.notas;
				this.$store.dispatch('UpdateNotas', payload)
			});
		},

		created() {
			this.$notifications.setOptions({
				type: 'info', 
				timeout: 5000,
				horizontalAlign: 'right',
				verticalAlign: 'bottom'
			});
		}
	}

</script>