<template lang="html">
	<section class="section" data-anchor="rentabilidade-atual">
		<div class="container">
			<div class="row">
				<div class="section-header col-xs-12">
                    <p class="section-title text-uppercase"><vc-notas :secao="'titulo-output-1'" :formato="'text'"></vc-notas></p>
                </div>
                <div class="col-xs-12 col-sm-6 text-justify">
                	<vc-notas :secao="'descricao-output-1'" :formato="'text'"></vc-notas>
                </div>
                <div class="col-xs-12 col-sm-6">
                	<p><strong>1° RESULTADO</strong></p>
                    <p><vc-notas :secao="'titulo-output-1-resultado'" :formato="'text'"></vc-notas><br>
                    <strong>{{ rentabilidade_atual | currency }}</strong></p>
                </div>
			</div>
		</div>
	</section>
</template>

<script>
	import Notas from '../notas/Notas.vue';

	export default {
		components: {
			'vc-notas': Notas
		},
		/**
		 * Retorna dados computados
		 * @type {Object}
		 */
		computed: {
			atividade: {
				get() {
					return this.$store.state.premissas_regularizacao.atividade
				}
			},
			rentabilidade_atual: {
				get() {
					return this.$store.state.resultados.rentabilidade_atual;			
				}
			},
			rentabilidade_atual_atividade: {
				get() {
					return this.$store.state.resultados.rentabilidade_atual_atividade;			
				}
			}
		},
		methods: {
			/**
			 * Retorna a label conforme a atividade selecionada
			 * @type {Object}
			 */
			labels: function () {
				if (this.atividade == 1) return ' (R$/@ 15kg)';
				else if (this.atividade == 2) return ' (R$/ton)';
				else if (this.atividade == 3) return ' (R$/sacas 60kg)';
				else if (this.atividade == 4) return ' (R$/UA)';
				return '';
			}
		}
	}

</script>