<template lang="html">
<section class="section" data-anchor="segunda-safra">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="section-header">
                    <p class="section-title text-uppercase"><vc-notas :secao="'titulo-input-4'" :formato="'text'"></vc-notas></p>
                </div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="form-item">
                    <div class="radio-holder">
						<p class="label"><vc-notas :secao="'pergunta-input-4'" :formato="'text'"></vc-notas> <vc-notas :secao="'descricao-input-4'"></vc-notas></p>
                        <div class="styled-radio radio-inline">
                            <input type="radio" v-model="showSegundaSafra" @change="regularizarPlantio" id="yes" value="true">
							<label for="yes"><span></span>Sim</label>
                            <input type="radio" v-model="showSegundaSafra" @change="regularizarPlantio" id="no" value="false">
                            <label for="no"><span></span>Não</label>
                        </div>
                    </div>
                </div>
                <transition name="fade">
	                <div key="1" class="safra-options" v-show="showSegundaSafra == 'true'">
						<div class="form-item">
							<p class="label"><vc-notas :secao="'pergunta-2-input-4'" :formato="'text'"></vc-notas></p>
							<select v-model="cultura">
								<option value="1">Algodão</option>
								<option value="3">Grãos</option>
							</select>
							<span class="pointer"></span>
							<vc-notas :secao="'cultura'"></vc-notas>
						</div>
						<div class="form-item">
							<p class="label">Área Plantada (ha):</p>
							<vue-numeric separator="." :precision="2" v-model="area_produtiva"></vue-numeric>
							<vc-notas :secao="'area_produtiva'"></vc-notas>
						</div>
						<div class="form-item">
							<p class="label">Preço recebido{{ labels(1) }}:</p>
							<vue-numeric separator="." :precision="2" v-model="preco_recebido"></vue-numeric>
							<vc-notas :secao="'preco_recebido'">
						</div>
	                </div>
            	</transition>
			</div>
			<transition name="fade">
				<div key="2" v-show="showSegundaSafra == 'true'" class="col-xs-12 col-md-6 safra-options">
					<div class="form-item with-checkbox margin-bottom-15">
						<p class="label">Custo da produção{{ labels(1) }}:</p>
						<!-- <vue-numeric separator="." :precision="2" v-model="custo_producao"></vue-numeric> -->
						<vue-numeric separator="." :precision="2" v-model="custo_producao"></vue-numeric>
						<vc-notas :secao="'custo_producao'"></vc-notas>
						<div class="radio-holder">
					        <div class="styled-radio">
					            <input type="checkbox" v-model="showCustoPadrao" value="true" id="use-yes-2">
					            <label for="use-yes-2"><span></span>Usar custo médio do Estado</label>
					        </div>  
					    </div>
					</div>
					<transition name="fade">
						<div key="3" v-show="showCustoPadrao">
							<vc-custos-padrao :custo_producao.sync="custo_producao" :cultura="cultura"></vc-custos-padrao>
						</div>
					</transition>
					<div class="form-item">
						<p class="label">Produção atual{{ labels(2) }}:</p>
						<vue-numeric separator="." :precision="2" v-model="producao_atual"></vue-numeric>
						<vc-notas :secao="'producao_atual'">
					</div>
					<div class="form-item">
							<p class="label">Produtividade Atual{{ labels(3) }}:</p>
							<input type="text" v-model="produtividade_media_3_safras" disabled>
						</div>
				</div>
			</transition>
		</div>
	</div>
</section>
</template>

<script>

	import Notas from '../notas/Notas.vue';
	import CustosPadrao from '../custos-padrao/CustosPadrao.vue'

	export default {
		data() {
			return {
				showCustoPadrao: false,
				showSegundaSafra: 'false'
			}
		},
		/**
		 * Componentes importados
		 * @type {Object}
		 */
		components: { 
			'vc-notas': Notas,
			'vc-custos-padrao' : CustosPadrao
		},
		/**
		 * Retorna dados computados
		 * @type {Object}
		 */
		computed: {
			atividade: {
				get() {
					return this.$store.state.premissas_regularizacao.atividade
				}
			},
			cultura: {
				get() {
					return this.$store.state.segunda_safra.cultura
				},
				set (payload) {
					this.$store.dispatch('updateSegundaSafraCultura', payload)
				}
			},
			area_produtiva: {
				get() {
					return this.$store.state.segunda_safra.area_produtiva
				},
				set (payload) {
					this.$store.dispatch('updateSegundaSafraAreaProdutiva', payload)
				}
			},
			custo_producao: {
				get() {
					return this.$store.state.segunda_safra.custo_producao
				},
				set (payload) {
					this.$store.dispatch('updateSegundaSafraCustoProducao', payload)
				}
			},
			preco_recebido: {
				get() {
					return this.$store.state.segunda_safra.preco_recebido
				},
				set (payload) {
					this.$store.dispatch('updateSegundaSafraPrecoRecebido', payload)
				}
			},
			producao_atual: {
				get() {
					return this.$store.state.segunda_safra.producao_atual
				},
				set (payload) {
					this.$store.dispatch('updateSegundaSafraProducaoAtual', payload)
				}
			},
			produtividade_media_3_safras: {
				get() {
					return this.$store.state.segunda_safra.produtividade_media_3_safras
				},
				set (payload) {
					this.$store.dispatch('updateSegundaSafraProdutividadeMedia3Safras', payload)
				}
			}
		},

		watch: {
			cultura(values) {
				if (values == 0) {
					this.area_produtiva = 0;
					this.produtividade_media_3_safras = 0;
					this.custo_producao = 0;
					this.preco_recebido = 0;
					this.producao_atual = 0;
				}
			},
			producao_atual(values) {
				if (this.area_produtiva > 0) {
					let $valor = values / this.area_produtiva;
					this.produtividade_media_3_safras = parseFloat($valor.toFixed(2));
				}
			},
			area_produtiva(values) {
				if (this.producao_atual > 0) {
					let $valor = this.producao_atual / values;
					this.produtividade_media_3_safras = parseFloat($valor.toFixed(2));
				}
			}
		},

		methods: {
			/**
			 * Se não optar por segunda safra zera os campos
			 * @return {[type]} [description]
			 */
			regularizarPlantio() {
				if (this.showSegundaSafra == 'false') {
					this.cultura = 0;
					this.area_produtiva = 0;
					this.produtividade_media_3_safras = 0;
					this.custo_producao = 0;
					this.preco_recebido = 0;
					this.producao_atual = 0;
				} else {
					this.cultura = 1;
					this.area_produtiva = '';
					this.produtividade_media_3_safras = '';
					this.custo_producao = '';
					this.preco_recebido = '';
					this.producao_atual = '';
				}
			},
			/**
			 * Retorna a label conforme a cultura de segunda safra selecionada
			 * @type {Object}
			 */
			labels(type) {
				if (this.cultura == 1) { // Algodão
					if (type == 1) return ' (R$/@ 15kg)';
					else if (type == 2) return ' (@ 15kg)';
					else if (type == 3) return ' (sacas/ha)';
				} else if (this.cultura == 3) { // Grãos
					if (type == 1) return ' (R$/sacas 60kg)';
					else if (type == 2) return ' (sacas 60kg)';
					else if (type == 3) return ' (sacas/ha)';
				}
				return '';
			}
		}
	}

</script>