<template lang="html">
	<div class="form-item">
		<select v-model="custo_padrao" @change="setCustoProducao">
			<option v-for="custo in custos" v-if="custo.cultura == cultura" :value="parseToFloat(custo.valor)">{{ custo.estado }} : Praça {{ custo.praca }}</option>
		</select>
		<span class="pointer"></span>
		<vc-notas :secao="'custos_padrao'"></vc-notas>
	</div>
</template>

<script>
	import Notas from '../notas/Notas.vue';
	import ServiceCustosPadrao from '../../services/custos-padrao/index.js';

	export default {
		props: ['custo_producao', 'cultura'],
		/**
		 * Dados do componente
		 * @return {json}
		 */
		data() {
			return {
				custos: [],
				custo_padrao: ''
			}
		},
		components: {
			'vc-notas': Notas
		},
		/**
		 * Quando montado executa algumas funções
		 * @return {functions}
		 */
		mounted() {
			this.getCustos();
		},
		methods: {
			/**
			 * Pegar Custos padrão do servidor
			 * @return {json} 
			 */
			getCustos() {
				ServiceCustosPadrao.get().then(response => {
					this.custos = response.data.custosPadrao;
				});
			},
			setCustoProducao() {
				this.$emit('update:custo_producao', this.custo_padrao);
			},
			parseToFloat(string) {
				string = string.replace(',', '.');
				return parseFloat(string);
			}
		}
	}

</script>