<template lang="html">

	<div v-if="formView">
		<AtividadePrincipalForm v-on:store="store"
		v-on:toggle-form="toggleForm"
		v-on:patch="patch"
		:AtividadePrincipal="AtividadePrincipal"
		:errors="errors"
		:action="action"></AtividadePrincipalForm>
	</div>
	<div v-else>
		<table class="ls-table ls-table-striped ls-bg-header">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<AtividadePrincipal v-for="AtividadePrincipal in AtividadesPrincipais"
						:AtividadePrincipal="AtividadePrincipal"
						:key="AtividadePrincipal.id" 
						v-on:toggle-edit-form="toggleEditForm"></AtividadePrincipal>
			</tbody>
		</table>
	</div>
</template>

<script>

	import axios from 'axios';
	import AtividadePrincipalForm from './AtividadePrincipalForm.vue';
	import AtividadePrincipal from './AtividadePrincipal.vue';

	export default {

		data() {

			return {
				AtividadesPrincipais: [],
				errors: [],
				AtividadePrincipal: {
					nome: ''
				},
				action: false,
				formView: false
			}

		},

		components: { AtividadePrincipal, AtividadePrincipalForm },

		created() {
			this.index();
		},

		methods: {

			toggleForm() {
				this.AtividadePrincipal = {
					nome: ''
				};
				this.action = false;
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			toggleEditForm(AtividadePrincipal, newAtividadePrincipal) {
				this.AtividadePrincipal = AtividadePrincipal;
				this.action = 'update';
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			index() {
				axios.get('http://projeto.agroicone.com.br/webservice/public/api/atividades-principais').then(response => {
					this.AtividadesPrincipais = response.data.atividadesPrincipais;
				});
			},

			store() {

		        axios.post('http://projeto.agroicone.com.br/webservice/public/api/atividades-principais/', this.AtividadePrincipal)
		        	.then(response => {
		            this.AtividadePrincipal = {
						nome: ''
					}
		            if (this.errors) {
		              this.errors = [];
		            }
		            this.toggleForm();
		            this.AtividadesPrincipais.push(response.data.atividadePrincipal);
		            this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
		        })
		        .catch(error => {
					this.errors = error.response.data;
				});
			},

			destroy(AtividadePrincipal){
				axios.delete('http://projeto.agroicone.com.br/webservice/public/api/atividades-principais/' + AtividadePrincipal.id).then(response => {
					let index = this.AtividadesPrincipais.indexOf(AtividadePrincipal);
					this.AtividadesPrincipais.splice(index, 1);
					this.$notify({
				        message: response.data.message,
				        type: 'danger'
				    });
				});
			},

			patch(newAtividadePrincipal) {
				axios.patch('http://projeto.agroicone.com.br/webservice/public/api/atividades-principais/'+this.AtividadePrincipal.id, newAtividadePrincipal)
				.then(response => {
        			if (this.errors) {
              			this.errors = [];
            		}
		            let index = this.AtividadesPrincipais.indexOf(this.AtividadePrincipal);
		            this.AtividadesPrincipais[index] = newAtividadePrincipal;
		            this.AtividadePrincipal = {
						nome: ''
					}
					this.toggleForm();
            		this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
          		})
          		.catch(error => {
					this.errors = error.response.data;
				});
			}

		}

	}

</script>