<template lang="html">
	<tr>
		<td>{{ AtividadePrincipal.nome }}</td>
		<td class="ls-txt-right">
			<button class="ls-btn ls-ico-edit-admin"
				v-on:click="$emit('toggle-edit-form', AtividadePrincipal, newAtividadePrincipal)">
				Editar</button>
		</td>
	</tr>
</template>

<script>

	export default {

		props: ['AtividadePrincipal'],

		data() {
			return {
				newAtividadePrincipal: []
			}
		},

		mounted() {
			this.newAtividadePrincipal = this.AtividadePrincipal;
		}

	}

</script>