<template lang="html">
	<tr>
		<td><b>{{ modeloRestauracao.nome }}</b></td>
		<td>{{ modeloRestauracao.descricao }}</td>
		<td class="ls-txt-right">
			<button class="ls-btn ls-ico-edit-admin"
				v-on:click="$emit('toggle-edit-form', modeloRestauracao, newModeloRestauracao)">
				Editar</button>
			<button v-bind:class="{'ls-btn-danger ls-ico-remove' : true}"
				v-on:click="$emit('destroy', modeloRestauracao)">
				Remover</button>

		</td>
	</tr>
</template>

<script>

	export default {

		props: ['modeloRestauracao'],

		data() {
			return {
				newModeloRestauracao: []
			}
		},

		mounted() {
			this.newModeloRestauracao = this.modeloRestauracao;
		}

	}

</script>