<template lang="html">

	<div v-if="formView">
		<ModeloRestauracaoForm v-on:store="store"
		v-on:toggle-form="toggleForm"
		v-on:patch="patch"
		:modeloRestauracao="modeloRestauracao"
		:errors="errors"
		:action="action"></ModeloRestauracaoForm>
	</div>
	<div v-else>
		<table class="ls-table ls-table-striped ls-bg-header">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Definição</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<ModeloRestauracao v-for="modeloRestauracao in modelosRestauracao"
						:modeloRestauracao="modeloRestauracao"
						:key="modeloRestauracao.id" 
						v-on:destroy="destroy"
						v-on:toggle-edit-form="toggleEditForm"></ModeloRestauracao>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3" class="ls-txt-center">
						<button class="ls-btn-primary ls-ico-user-add"
							v-on:click="toggleForm"
							>Cadastrar novo Modelo de Restauração</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</template>

<script>

	import axios from 'axios';
	import ModeloRestauracaoForm from './ModeloRestauracaoForm.vue';
	import ModeloRestauracao from './ModeloRestauracao.vue';

	export default {

		data() {

			return {
				modelosRestauracao: [],
				errors: [],
				modeloRestauracao: {
					nome: ''
				},
				action: false,
				formView: false
			}

		},

		components: { ModeloRestauracao, ModeloRestauracaoForm },

		created() {
			this.index();
		},

		methods: {

			toggleForm() {
				this.modeloRestauracao = {
					nome: '',
					descricao: ''
				};
				this.action = false;
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			toggleEditForm(modeloRestauracao, newModeloRestauracao) {
				this.modeloRestauracao = modeloRestauracao;
				this.action = 'update';
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			index() {
				axios.get('http://projeto.agroicone.com.br/webservice/public/api/modelos-restauracao/').then(response => {
					this.modelosRestauracao = response.data.modelosRestauracao;
				});
			},

			store() {

		        axios.post('http://projeto.agroicone.com.br/webservice/public/api/modelos-restauracao/', this.modeloRestauracao)
		        	.then(response => {
		            this.modeloRestauracao = {
						nome: '',
						descricao: ''
					}
		            if (this.errors) {
		              this.errors = [];
		            }
		            this.toggleForm();
		            this.modelosRestauracao.push(response.data.modeloRestauracao);
		            this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
		        })
		        .catch(error => {
					this.errors = error.response.data;
				});
			},

			destroy(modeloRestauracao){
				axios.delete('http://projeto.agroicone.com.br/webservice/public/api/modelos-restauracao/' + modeloRestauracao.id).then(response => {
					let index = this.modelosRestauracao.indexOf(modeloRestauracao);
					this.modelosRestauracao.splice(index, 1);
					this.$notify({
				        message: response.data.message,
				        type: 'danger'
				    });
				});
			},

			patch(newModeloRestauracao) {
				axios.patch('http://projeto.agroicone.com.br/webservice/public/api/modelos-restauracao/'+this.modeloRestauracao.id, newModeloRestauracao)
				.then(response => {
        			if (this.errors) {
              			this.errors = [];
            		}
		            let index = this.modelosRestauracao.indexOf(this.modeloRestauracao);
		            this.modelosRestauracao[index] = newModeloRestauracao;
		            this.modeloRestauracao = {
						nome: '',
						descricao: ''
					}
					this.toggleForm();
            		this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
          		})
          		.catch(error => {
					this.errors = error.response.data;
				});
			}

		}

	}

</script>