<template lang="html">

	<div v-if="formView">
		<LinhaFinanciamentoForm v-on:store="store"
		v-on:toggle-form="toggleForm"
		v-on:patch="patch"
		v-bind:linhaFinanciamento="linhaFinanciamento"
		v-bind:estado="estado"
		v-bind:errors="errors"
		v-bind:action="action"></LinhaFinanciamentoForm>
	</div>
	<div v-else>
		<div class="ls-box-filter">
		  <form v-on:submit.prevent="orderByEstados" class="ls-form ls-form-inline">
		    <label class="ls-label col-xs-12 col-md-6 col-sm-8">
		      <b class="ls-label-text">Estados</b>
		      <div class="ls-custom-select">
		        <select v-model="estado.id" class="ls-select">
		          <option v-for="e in estados" v-bind:value="e.id">{{ e.nome }}</option>
		        </select>
		      </div>
		    </label>
		    <div class="ls-actions-btn">
		      <button type="submit" class="ls-btn-dark ls-ico-eye">Filtrar</button>
		    </div>
		  </form>
		</div>		
		<table class="ls-table ls-table-striped ls-bg-header">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Prazo</th>
					<th>Carência</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<LinhaFinanciamento v-for="linhaFinanciamento in linhasFinanciamentosOrdered"
						v-bind:linhaFinanciamento="linhaFinanciamento"
						v-bind:key="linhaFinanciamento.id" 
						v-on:destroy="destroy"
						v-on:toggle-edit-form="toggleEditForm"></LinhaFinanciamento>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4" class="ls-txt-center">
						<button class="ls-btn-primary ls-ico-user-add"
							v-on:click="toggleForm"
							>Cadastrar nova Linha de Financiamento</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</template>

<script>

	import axios from 'axios';
	import LinhaFinanciamentoForm from './LinhaFinanciamentoForm.vue';
	import LinhaFinanciamento from './LinhaFinanciamento.vue';

	export default {

		data() {

			return {
				linhasFinanciamentos: [],
				linhasFinanciamentosOrdered: [],
				errors: [],
				linhaFinanciamento: {
					nome: ''
				},
				action: false,
				formView: false,
				estados: [],
				estado: {
					id: 1,
					nome: ''
				}
			}

		},

		components: { LinhaFinanciamento, LinhaFinanciamentoForm },

		created() {
			this.indexOfEstados();
			this.index();
		},

		methods: {

			toggleForm() {
				this.linhaFinanciamento = {
					nome: ''
				};
				this.action = false;
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			toggleEditForm(linhaFinanciamento, newLinhaFinanciamento) {
				this.linhaFinanciamento = linhaFinanciamento;
				this.action = 'update';
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			index() {
				axios.get('http://projeto.agroicone.com.br/webservice/public/api/linhas-financiamentos').then(response => {
					this.linhasFinanciamentos = response.data.linhasFinanciamentos;
					this.orderByEstados();
				});
			},

			indexOfEstados() {
				axios.get('http://projeto.agroicone.com.br/webservice/public/api/estados').then(response => {
					this.estados = response.data.estados;
				});
			},

			orderByEstados() {
				this.linhasFinanciamentosOrdered = this.linhasFinanciamentos.filter((el, index, array) => {
					return array[index].estado_id == this.estado.id;
				});
				var estado = this.estados.find((el, index, array) => {
					return array[index].id == this.estado.id;
				});
				this.estado.nome = estado.nome;
				this.$notify({
			        message: this.estado.nome + ' com ' + this.linhasFinanciamentosOrdered.length + ' Linhas de financiamento.'
			    });
			},

			store() {
		        axios.post('http://projeto.agroicone.com.br/webservice/public/api/linhas-financiamentos/', this.linhaFinanciamento)
		        	.then(response => {
		            this.linhaFinanciamento = {
						nome: '',
						taxa_juros_aa: '',
						taxa_basica: '',
						remuneracao_banco: '',
						risco_credito: '',
						prazo: '',
						carencia: ''
					}
		            if (this.errors) {
		              this.errors = [];
		            }
		            this.toggleForm();
		            this.linhasFinanciamentos.push(response.data.linhaFinanciamento);
		            this.orderByEstados();
		            this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
		        })
		        .catch(error => {
					this.errors = error.response.data;
				});
			},

			destroy(linhaFinanciamento){
				axios.delete('http://projeto.agroicone.com.br/webservice/public/api/linhas-financiamentos/' + linhaFinanciamento.id).then(response => {
					let index = this.linhasFinanciamentos.indexOf(linhaFinanciamento);
					this.linhasFinanciamentos.splice(index, 1);
					this.orderByEstados();
					this.$notify({
				        message: response.data.message,
				        type: 'danger'
				    });
				});
			},

			patch(newLinhaFinanciamento) {
				axios.patch('http://projeto.agroicone.com.br/webservice/public/api/linhas-financiamentos/'+this.linhaFinanciamento.id, newLinhaFinanciamento)
				.then(response => {
        			if (this.errors) {
              			this.errors = [];
            		}
		            let index = this.linhasFinanciamentos.indexOf(this.linhaFinanciamento);
		            this.linhasFinanciamentos[index] = newLinhaFinanciamento;
		            this.linhaFinanciamento = {
						nome: '',
						taxa_juros_aa: '',
						taxa_basica: '',
						remuneracao_banco: '',
						risco_credito: '',
						prazo: '',
						carencia: ''
					}
					this.toggleForm();
					this.orderByEstados();
					this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
          		})
          		.catch(error => {
					this.errors = error.response.data;
				});
			}

		}

	}

</script>