<template lang="html">
	<tr>
		<td><b>{{ linhaFinanciamento.nome }}</b></td>
		<td>{{ linhaFinanciamento.prazo }}</td>
		<td>{{ linhaFinanciamento.carencia }}</td>
		<td>

			<button class="ls-btn ls-ico-edit-admin"
				v-on:click="$emit('toggle-edit-form', linhaFinanciamento, newLinhaFinanciamento)">
				<span class="hidden-xs">Editar</span></button>

			<button v-bind:class="{'ls-btn-danger ls-ico-remove' : true}"
				v-on:click="$emit('destroy', linhaFinanciamento)">
				<span class="hidden-xs">Remover</span></button>

		</td>
	</tr>
</template>

<script>

	export default {

		props: ['linhaFinanciamento'],

		data() {
			return {
				newLinhaFinanciamento: []
			}
		},

		mounted() {
			this.newLinhaFinanciamento = this.linhaFinanciamento;
		}

	}

</script>