<template lang="html">

	<form v-on:submit.prevent="sendForm" class="form-horizontal" method="POST">
		<h2 class="ls-title" v-if="action == 'update'">Atualizar Linha de Financiamento</h2>
		<h2 class="ls-title" v-else>Criar nova Linha de Financiamento</h2>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.nome}">
			<label for="nome"><b class="ls-label-text">Nome</b></label>
			<input id="nome" type="text" class="form-control" v-model="linhaFinanciamento.nome" required autofocus>
			<small class="ls-help-message" v-for="error in errors.nome">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.taxa_juros_aa}">
			<label for="taxa_juros_aa"><b class="ls-label-text">Taxa de Juros aa%</b></label>
			<input id="taxa_juros_aa" type="text" class="form-control" v-model="linhaFinanciamento.taxa_juros_aa" required autofocus>
			<small class="ls-help-message" v-for="error in errors.taxa_juros_aa">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.taxa_basica}">
			<label for="taxa_basica"><b class="ls-label-text">Taxa Básica</b></label>
			<input id="taxa_basica" type="text" class="form-control" v-model="linhaFinanciamento.taxa_basica" required autofocus>
			<small class="ls-help-message" v-for="error in errors.taxa_basica">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.remuneracao_banco}">
			<label for="remuneracao_banco"><b class="ls-label-text">Remuneração do Banco</b></label>
			<input id="remuneracao_banco" type="text" class="form-control" v-model="linhaFinanciamento.remuneracao_banco" required autofocus>
			<small class="ls-help-message" v-for="error in errors.remuneracao_banco">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.risco_credito}">
			<label for="risco_credito"><b class="ls-label-text">Risco de Crédito</b></label>
			<input id="risco_credito" type="text" class="form-control" v-model="linhaFinanciamento.risco_credito" required autofocus>
			<small class="ls-help-message" v-for="error in errors.risco_credito">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.prazo}">
			<label for="prazo"><b class="ls-label-text">Prazo</b></label>
			<input id="prazo" type="text" class="form-control" v-model="linhaFinanciamento.prazo" required autofocus>
			<small class="ls-help-message" v-for="error in errors.prazo">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.carencia}">
			<label for="carencia"><b class="ls-label-text">Carência</b></label>
			<input id="carencia" type="text" class="form-control" v-model="linhaFinanciamento.carencia" required autofocus>
			<small class="ls-help-message" v-for="error in errors.carencia">{{ error }}</small>
		</div>
		<div class="ls-label">
		    <button type="submit" class="ls-btn ls-btn-primary">Salvar</button>
		    <button type="button" class="ls-btn"
				v-on:click.prevent="$emit('toggle-form')"
				>Cancelar</button>
		</div>
	</form>
</template>

<script>

	export default {

		props: ['estado', 'linhaFinanciamento', 'errors', 'action'],

		methods: {
			sendForm() {
				this.linhaFinanciamento.estado_id = this.estado.id;
				if (this.action == 'update') this.$emit('patch', this.linhaFinanciamento);
				else this.$emit('store');
			}
		}

	}

</script>