<template lang="html">
	<tr>
		<td>{{ vplProjeto.crescimento_produtividade_principal }}%</td>
		<td>{{ vplProjeto.crescimento_produtividade_secundaria }}%</td>
		<td class="ls-txt-right">
			<button class="ls-btn ls-ico-edit-admin"
				v-on:click="$emit('toggle-edit-form', vplProjeto, newVplProjeto)">
				Editar</button>
		</td>
	</tr>
</template>

<script>

	export default {

		props: ['vplProjeto'],

		data() {
			return {
				newVplProjeto: []
			}
		},

		mounted() {
			this.newVplProjeto = this.vplProjeto;
		}

	}

</script>