<template lang="html">

	<div v-if="formView">
		<VplProjetoForm v-on:store="store"
		v-on:toggle-form="toggleForm"
		v-on:patch="patch"
		:vplProjeto="vplProjeto"
		:errors="errors"
		:action="action"></VplProjetoForm>
	</div>
	<div v-else>
		<table class="ls-table ls-table-striped ls-bg-header">
			<thead>
				<tr>
					<th>Crescimento de Produtividade Principal</th>
					<th>Crescimento de Produtividade Secundária</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<VplProjeto v-for="vplProjeto in vplProjetos"
						:vplProjeto="vplProjeto"
						:key="vplProjeto.id" 
						v-on:destroy="destroy"
						v-on:toggle-edit-form="toggleEditForm"></VplProjeto>
			</tbody>
		</table>
	</div>
</template>

<script>

	import axios from 'axios';
	import VplProjetoForm from './VplProjetoForm.vue';
	import VplProjeto from './VplProjeto.vue';

	export default {

		data() {

			return {
				vplProjetos: [],
				errors: [],
				vplProjeto: {
					nome: ''
				},
				action: false,
				formView: false
			}

		},

		components: { VplProjeto, VplProjetoForm },

		created() {
			this.index();
		},

		methods: {

			toggleForm() {
				this.vplProjeto = {
					crescimento_produtividade_principal: '',
					crescimento_produtividade_secundaria: ''
				};
				this.action = false;
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			toggleEditForm(vplProjeto, newVplProjeto) {
				this.vplProjeto = vplProjeto;
				this.action = 'update';
				if (this.formView) this.formView = false;
				else this.formView = true;
			},

			index() {
				axios.get('http://projeto.agroicone.com.br/webservice/public/api/vpl-projetos').then(response => {
					this.vplProjetos = response.data.vplProjetos;
				});
			},

			store() {

		        axios.post('http://projeto.agroicone.com.br/webservice/public/api/vpl-projetos/', this.vplProjeto)
		        	.then(response => {
		            this.vplProjeto = {
						crescimento_produtividade_principal: '',
						crescimento_produtividade_secundaria: ''
					}
		            if (this.errors) {
		              this.errors = [];
		            }
		            this.toggleForm();
		            this.vplProjetos.push(response.data.vplProjeto);
		            this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
		        })
		        .catch(error => {
					this.errors = error.response.data;
				});
			},

			destroy(vplProjeto){
				axios.delete('http://projeto.agroicone.com.br/webservice/public/api/vpl-projetos/' + vplProjeto.id).then(response => {
					let index = this.vplProjetos.indexOf(vplProjeto);
					this.vplProjetos.splice(index, 1);
					this.$notify({
				        message: response.data.message,
				        type: 'danger'
				    });
				});
			},

			patch(newVplProjeto) {
				axios.patch('http://projeto.agroicone.com.br/webservice/public/api/vpl-projetos/'+this.vplProjeto.id, newVplProjeto)
				.then(response => {
        			if (this.errors) {
              			this.errors = [];
            		}
		            let index = this.vplProjetos.indexOf(this.vplProjeto);
		            this.vplProjetos[index] = newVplProjeto;
		            this.vplProjeto = {
						crescimento_produtividade_principal: '',
						crescimento_produtividade_secundaria: ''
					}
					this.toggleForm();
            		this.$notify({
				        message: response.data.message,
				        type: 'success'
				    });
          		})
          		.catch(error => {
					this.errors = error.response.data;
				});
			}

		}

	}

</script>