<template lang="html">

	<form v-on:submit.prevent="sendForm" class="form-horizontal" method="POST">
		<h2 class="ls-title" v-if="action == 'update'">Atualizar Taxas Nacionais</h2>
		<h2 class="ls-title" v-else>Criar nova Taxas Nacionais</h2>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.crescimento_produtividade_principal}">
			<label for="crescimento_produtividade_principal"><b class="ls-label-text">Crescimento de Produtividade Principal</b></label>
			<input id="crescimento_produtividade_principal" type="text" class="form-control" v-model="vplProjeto.crescimento_produtividade_principal" required autofocus>
			<small class="ls-help-message" v-for="error in errors.crescimento_produtividade_principal">{{ error }}</small>
		</div>
		<div v-bind:class="{'ls-label': true, 'ls-error': errors.crescimento_produtividade_secundaria}">
			<label for="crescimento_produtividade_secundaria"><b class="ls-label-text">Crescimento de Produtividade Secundária</b></label>
			<input id="crescimento_produtividade_secundaria" type="text" class="form-control" v-model="vplProjeto.crescimento_produtividade_secundaria" required autofocus>
			<small class="ls-help-message" v-for="error in errors.crescimento_produtividade_secundaria">{{ error }}</small>
		</div>
		<div class="ls-label">
			<button type="submit" class="ls-btn ls-btn-primary">Salvar</button>
			<button type="button" class="ls-btn"
				v-on:click.prevent="$emit('toggle-form')"
				>Cancelar</button>
		</div>
	</form>
</template>

<script>

	export default {

		props: ['vplProjeto', 'errors', 'action'],

		methods: {
			sendForm() {
				if (this.action == 'update') this.$emit('patch', this.vplProjeto);
				else this.$emit('store');
			}
		}

	}

</script>